Repository jbcom/control-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentic-docs, validate-workflows, validate-ecosystem-state

validate-agentic-docs:
  name: Validate Agentic Documentation
  entry: python3 tools/validators/validate_agentic_docs.py
  language: system
  pass_filenames: false

validate-workflows:
  name: Validate GitHub Workflows
  entry: python3 tools/validators/validate_workflows.py
  language: system
  pass_filenames: false

validate-ecosystem-state:
  name: Validate Ecosystem State
  entry: python3 tools/validators/validate_ecosystem_state.py
  language: system
  pass_filenames: false

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: validate-workflows

fix(ci): Use PSR for version detection in docs job, remove manual parsing
  .github/sync/extended-data-types.yml
  .github/workflows/ci.yml
Due: validate-workflows

fix(ci): Replace manual version parsing and git operations with PSR and official GitHub Actions (#279)
  .github/sync/directed-inputs-class.yml
  .github/sync/extended-data-types.yml
  .github/sync/lifecyclelogging.yml
  .github/sync/python-terraform-bridge.yml
  .github/sync/vendor-connectors.yml
  .github/workflows/ci.yml
  BEFORE_AFTER_COMPARISON.md
  CI_RELEASE_FIX_SUMMARY.md
Due: validate-workflows

fix(ci): correct repo-file-sync-action version to v1.21.1
  .github/workflows/ci.yml
Due: validate-workflows

fix(ci): correct repo-file-sync-action version to v1.21.1 (#280)
  .github/workflows/ci.yml
Due: validate-workflows

fix(ci): remove invalid --skip-existing flag from semantic-release
  .github/workflows/ci.yml
Due: validate-workflows

Revert "fix(ci): correct repo-file-sync-action version to v1.21.1 (#280)"
  .github/workflows/ci.yml
Due: validate-workflows

fix(ci): remove invalid --skip-existing flag from semantic-release (#281)
  .github/workflows/ci.yml
Due: validate-workflows

Update GitHub Actions checkout and other action versions
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/sync-claude-tooling.yml
Due: validate-workflows

Checkpoint before follow-up message
  .github/workflows/claude-ci-fix.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude.yml
Due: validate-workflows

fix(ci): pin all GitHub Actions to commit SHAs with latest versions
  .github/workflows/ci.yml
  .github/workflows/claude-ci-fix.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude.yml
  .github/workflows/sync-claude-tooling.yml
Due: validate-workflows

Revert "fix(ci): correct repo-file-sync-action version to v1.21.1" (#282)
  .github/workflows/ci.yml
  .github/workflows/claude-ci-fix.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude.yml
  .github/workflows/dependabot.yml
  .github/workflows/sync-claude-tooling.yml
Due: validate-workflows

Fix: Remove unnecessary PyPI token permissions
  .github/workflows/ci.yml
Due: validate-workflows

Checkpoint before follow-up message
  .github/workflows/ci.yml
Due: validate-workflows

Checkpoint before follow-up message
  .ruler/environment-setup.md
Due: validate-agentic-docs

Fix: Update mypy dependencies to use specific type stubs
  .pre-commit-config.yaml
Due: none

Checkpoint before follow-up message
  .codex/rules/ruler_codex_instructions.md
  .codex/rules/ruler_codex_instructions.md.bak
  .github/copilot-instructions.md
  .roo/rules/ruler_roocode_instructions.md
  .roo/rules/ruler_roocode_instructions.md.bak
  CLAUDE.md
  pnpm-lock.yaml
Due: none

Update .ruler/environment-setup.md
  .ruler/environment-setup.md
Due: validate-agentic-docs

Checkpoint before follow-up message
  node_modules/.bin/ruler
  node_modules/.pnpm/lock.yaml
  node_modules/@intellectronica/ruler
  package.json
  pnpm-lock.yaml
Due: none

Refactor: Clarify tool usage rules for agents
  .codex/rules/ruler_codex_instructions.md
  .github/copilot-instructions.md
  .roo/rules/ruler_roocode_instructions.md
  .ruler/environment-setup.md
  AGENTS.md
  CLAUDE.md
Due: validate-agentic-docs

chore: Agent holding PR for unified agentic platform work
  .cursor/agents/sessions/unified-agentic-platform.md
Due: none

feat: add unified agentic-control package with intelligent token switching
  .cursor/Dockerfile
  packages/agentic-control/.gitignore
  packages/agentic-control/README.md
  packages/agentic-control/package.json
  packages/agentic-control/src/cli.ts
  packages/agentic-control/src/core/config.ts
  packages/agentic-control/src/core/index.ts
  packages/agentic-control/src/core/tokens.ts
  packages/agentic-control/src/core/types.ts
  packages/agentic-control/src/fleet/cursor-api.ts
  packages/agentic-control/src/fleet/fleet.ts
  packages/agentic-control/src/fleet/index.ts
  packages/agentic-control/src/github/client.ts
  packages/agentic-control/src/github/index.ts
  packages/agentic-control/src/handoff/index.ts
  packages/agentic-control/src/handoff/manager.ts
  packages/agentic-control/src/index.ts
  packages/agentic-control/src/triage/analyzer.ts
  packages/agentic-control/src/triage/index.ts
  packages/agentic-control/tests/tokens.test.ts
  packages/agentic-control/tsconfig.json
  pnpm-lock.yaml
Due: none

fix(agentic-control): address all security issues and make fully configurable
  .cursor/Dockerfile
  packages/agentic-control/LICENSE
  packages/agentic-control/README.md
  packages/agentic-control/package.json
  packages/agentic-control/src/cli.ts
  packages/agentic-control/src/core/config.ts
  packages/agentic-control/src/core/tokens.ts
  packages/agentic-control/src/fleet/cursor-api.ts
  packages/agentic-control/src/fleet/fleet.ts
  packages/agentic-control/src/github/client.ts
  packages/agentic-control/src/github/index.ts
  packages/agentic-control/src/handoff/manager.ts
  packages/agentic-control/src/index.ts
  packages/agentic-control/src/triage/analyzer.ts
  packages/agentic-control/tests/tokens.test.ts
Due: none

feat(agentic-control): add workspace configuration for dog-fooding
  .env.example
  .ruler/cursor.md
  agentic.config.json
Due: validate-agentic-docs

Checkpoint before follow-up message
  packages/agentic-control/src/cli.ts
Due: none

fix: address Gemini review feedback
  .cursor/Dockerfile
  packages/agentic-control/src/cli.ts
  packages/agentic-control/src/fleet/fleet.ts
  packages/agentic-control/src/triage/analyzer.ts
Due: none

chore(edt-release): release extended-data-types v202511.7.0 [skip ci] Automatically generated by python-semantic-release
  packages/extended-data-types/CHANGELOG.md
  packages/extended-data-types/pyproject.toml
  packages/extended-data-types/src/extended_data_types/__init__.py
Due: none

chore(edt-release): release extended-data-types v202511.7.0 [skip ci]
  packages/extended-data-types/CHANGELOG.md
  packages/extended-data-types/pyproject.toml
  packages/extended-data-types/src/extended_data_types/__init__.py
Due: none

fix: update default model to claude-4-opus for Cursor compatibility
  agentic.config.json
  packages/agentic-control/src/core/config.ts
Due: none

fix: update default model to claude-4-opus for Cursor compatibility (#290) Co-authored-by: Cursor Agent <cursoragent@cursor.com>
  agentic.config.json
  packages/agentic-control/src/core/config.ts
Due: none

fix: update default model to claude-4-opus for Cursor compatibility (#290)
  agentic.config.json
  packages/agentic-control/src/core/config.ts
Due: none

chore(edt-release): release extended-data-types v202511.7.1 [skip ci] Automatically generated by python-semantic-release
  packages/extended-data-types/CHANGELOG.md
  packages/extended-data-types/pyproject.toml
  packages/extended-data-types/src/extended_data_types/__init__.py
Due: none

chore(edt-release): release extended-data-types v202511.7.1 [skip ci]
  packages/extended-data-types/CHANGELOG.md
  packages/extended-data-types/pyproject.toml
  packages/extended-data-types/src/extended_data_types/__init__.py
Due: none

Path conditions:
  validate-agentic-docs: any of: ^\.ruler/.*\.(md|toml)$
  validate-workflows: any of: ^(\.github/workflows/|templates/).*\.yml$
  validate-ecosystem-state: any of: ^ecosystem/ECOSYSTEM_STATE\.json$
