Repository jbcom/control-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentic-docs, validate-workflows, validate-ecosystem-state

.pre-commit-config.yaml:

# Pre-commit hooks for the jbcom Python Library Management Hub
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Run the formatter
      - id: ruff-format

  # Mypy - Static type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        args: [--strict, --ignore-missing-imports]
        additional_dependencies: [types-all]
        files: ^(src/|tools/|\.github/scripts/).*\.py$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: [--fix, --disable, MD013, MD033, MD041]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]

  # Custom validators for this management hub
  - repo: local
    hooks:
      # Validate agentic documentation
      - id: validate-agentic-docs
        name: Validate Agentic Documentation
        entry: python3 tools/validate_agentic_docs.py
        language: system
        files: ^\.ruler/.*\.(md|toml)$
        pass_filenames: false

      # Validate GitHub workflows
      - id: validate-workflows
        name: Validate GitHub Workflows
        entry: python3 tools/validate_workflows.py
        language: system
        files: ^(\.github/workflows/|workflows/).*\.yml$
        pass_filenames: false

      # Validate ecosystem state
      - id: validate-ecosystem-state
        name: Validate Ecosystem State
        entry: python3 tools/validate_ecosystem_state.py
        language: system
        files: ^ECOSYSTEM_STATE\.json$
        pass_filenames: false

Fix version script test to handle any run number
  .github/workflows/template-validation.yml
  src/example_package/__init__.py
Due: validate-workflows

✅ All workflows GREEN - Complete validation setup
  WORKFLOWS_GREEN.md
Due: none

🏗️ Transform into Enterprise-Grade Ecosystem Control Hub
  .github/workflows/deploy-to-ecosystem.yml
  .github/workflows/health-check.yml
  .github/workflows/hub-validation.yml
  .github/workflows/security-scan.yml
  .pre-commit-config.yaml
  ARCHITECTURE.md
  ecosystem/ECOSYSTEM_STATE.json
  templates/python/library-ci.yml
  tools/deploy/deploy_workflow.py
  tools/deploy/deploy_workflows.py
  tools/monitor/dependency_graph.py
  tools/monitor/health_check.py
  tools/validators/validate_agentic_docs.py
  tools/validators/validate_ecosystem_state.py
  tools/validators/validate_workflows.py
Due: validate-workflows

Fix case-sensitive filename check
  .github/workflows/hub-validation.yml
Due: validate-workflows

🚀 Add MCP (Model Context Protocol) support for Cursor agents
  .cursor/.gitignore
  .cursor/README.md
  .cursor/agents/ci-deployer.md
  .cursor/agents/jbcom-ecosystem-manager.md
  .cursor/mcp.json
  .cursor/process-compose.yml
  docs/MCP_SETUP.md
Due: none

📋 Add mission complete summary
  MISSION_COMPLETE.md
Due: none

🔧 Add mcp-proxy setup for background agents
  docs/MCP_PROXY_SETUP.md
  tools/mcp_client.py
  tools/start-mcp-proxy.sh
Due: none

Add MCP servers to ruler.toml for propagation
  .ruler/ruler.toml
Due: validate-agentic-docs

Configure Renovate for dependency management
  renovate.json
Due: none

Checkpoint before follow-up message
  .github/copilot/agents/ecosystem-health.agent.yaml
Due: none

Checkpoint before follow-up message
  .github/copilot/agents/ci-deployer.agent.yaml
  .github/copilot/agents/dependency-coordinator.agent.yaml
  .github/copilot/agents/ecosystem-health.agent.yaml
Due: none

feat: Propose repository cleanup to reduce clutter
  REPO_CLEANUP_PROPOSAL.md
Due: none

Refactor: Update ecosystem state and manifest
  docs/VENDOR_CONNECTORS_MULTILANG.md
  ecosystem/ECOSYSTEM_MANIFEST.yaml
  ecosystem/ECOSYSTEM_STATE.json
  tools/ecosystem/manage.py
Due: none

Refactor: Consolidate Copilot agents and update ecosystem manifest
  .copilot/agents/ci-deployer.agent.md
  .copilot/agents/jbcom-ecosystem-manager.agent.md
  .copilot/instructions/jbcom-python-libraries.instructions.md
  .copilot/prompts/jbcom-inventory.prompt.md
  .github/copilot/agents/ci-deployer.agent.yaml
  .github/copilot/agents/dependency-coordinator.agent.yaml
  .github/copilot/agents/ecosystem-health.agent.yaml
  .github/copilot/agents/ecosystem-manager.agent.yaml
  .github/copilot/agents/game-dev.agent.yaml
  .github/copilot/agents/release-coordinator.agent.yaml
  .github/copilot/agents/vendor-connectors-consolidator.agent.yaml
  .github/copilot/instructions.md
  ecosystem/ECOSYSTEM_MANIFEST.yaml
Due: none

Update ecosystem/ECOSYSTEM_MANIFEST.yaml
  ecosystem/ECOSYSTEM_MANIFEST.yaml
Due: none

Update ecosystem/ECOSYSTEM_STATE.json
  ecosystem/ECOSYSTEM_STATE.json
Due: none

Update tools/ecosystem/manage.py
  tools/ecosystem/manage.py
Due: none

Update .github/copilot/instructions.md
  .github/copilot/instructions.md
Due: none

Update .github/copilot/agents/ecosystem-manager.agent.yaml
  .github/copilot/agents/ecosystem-manager.agent.yaml
Due: none

fix: Address PR review feedback
  ecosystem/ECOSYSTEM_MANIFEST.yaml
  ecosystem/ECOSYSTEM_STATE.json
  tools/ecosystem/manage.py
Due: none

fix: Update validators to support v2 ECOSYSTEM_STATE.json schema
  .github/workflows/hub-validation.yml
  tools/validators/validate_agentic_docs.py
  tools/validators/validate_ecosystem_state.py
Due: validate-workflows

Investigate and implement jbcom copilot custom agents (#110)
  .copilot/agents/ci-deployer.agent.md
  .copilot/agents/jbcom-ecosystem-manager.agent.md
  .copilot/instructions/jbcom-python-libraries.instructions.md
  .copilot/prompts/jbcom-inventory.prompt.md
  .github/copilot/agents/ci-deployer.agent.yaml
  .github/copilot/agents/dependency-coordinator.agent.yaml
  .github/copilot/agents/ecosystem-manager.agent.yaml
  .github/copilot/agents/game-dev.agent.yaml
  .github/copilot/agents/release-coordinator.agent.yaml
  .github/copilot/agents/vendor-connectors-consolidator.agent.yaml
  .github/copilot/instructions.md
  .github/workflows/hub-validation.yml
  REPO_CLEANUP_PROPOSAL.md
  docs/VENDOR_CONNECTORS_MULTILANG.md
  ecosystem/ECOSYSTEM_MANIFEST.yaml
  ecosystem/ECOSYSTEM_STATE.json
  tools/ecosystem/manage.py
  tools/validators/validate_agentic_docs.py
  tools/validators/validate_ecosystem_state.py
Due: validate-workflows

chore: Regenerate agentic rules with ruler apply --nested
  .cursor/mcp.json
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
Due: none

chore: Regenerate agentic rules with ruler apply --nested (#114)
  .cursor/mcp.json
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
Due: none

feat: Add CRITICAL ecosystem management rules to agent
  .cursor/agents/jbcom-ecosystem-manager.md
Due: none

feat: Add CRITICAL rules to ecosystem.md
  .ruler/ecosystem.md
Due: validate-agentic-docs

feat: Add CRITICAL ecosystem management rules (#115) * feat: Add CRITICAL ecosystem management rules to agent * feat: Add CRITICAL rules to ecosystem.md
  .cursor/agents/jbcom-ecosystem-manager.md
  .ruler/ecosystem.md
Due: validate-agentic-docs

feat: Add CRITICAL ecosystem management rules (#115)
  .cursor/agents/jbcom-ecosystem-manager.md
  .ruler/ecosystem.md
Due: validate-agentic-docs

Checkpoint before follow-up message
  .github/sync.yml
  .github/workflows/sync-packages.yml
Due: validate-workflows

Checkpoint before follow-up message
  .github/workflows/sync-packages.yml
Due: validate-workflows

Checkpoint before follow-up message
  .cursor/agents/jbcom-ecosystem-manager.md
Due: none

Checkpoint before follow-up message
  packages/ECOSYSTEM.toml
Due: none

Add ECOSYSTEM.toml source of truth, fix sync to use existing token
  .github/workflows/sync-packages.yml
  packages/ECOSYSTEM.toml
Due: validate-workflows

Add ECOSYSTEM.toml + fix sync token (#117)
  .cursor/agents/jbcom-ecosystem-manager.md
  .github/workflows/sync-packages.yml
  packages/ECOSYSTEM.toml
Due: validate-workflows

Fix: use CI_GITHUB_TOKEN for sync workflow
  .github/workflows/sync-packages.yml
  packages/ECOSYSTEM.toml
Due: validate-workflows

Fix: use CI_GITHUB_TOKEN for sync workflow (#118) Co-authored-by: Cursor Agent <cursoragent@cursor.com>
  .github/workflows/sync-packages.yml
  packages/ECOSYSTEM.toml
Due: validate-workflows
