Repository jbcom/control-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentic-docs, validate-workflows, validate-ecosystem-state

.pre-commit-config.yaml:

# Pre-commit hooks for the jbcom Python Library Management Hub
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Run the formatter
      - id: ruff-format

  # Mypy - Static type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: [--strict, --ignore-missing-imports]
        additional_dependencies: [types-all]
        files: ^(src/|tools/|\.github/scripts/).*\.py$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint
        args: [--fix, --disable, MD013, MD033, MD041]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]

  # GitHub Actions workflow linting - catches schema issues before push
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  # Custom validators for this management hub
  - repo: local
    hooks:
      # Validate agentic documentation
      - id: validate-agentic-docs
        name: Validate Agentic Documentation
        entry: python3 tools/validators/validate_agentic_docs.py
        language: system
        files: ^\.ruler/.*\.(md|toml)$
        pass_filenames: false

      # Validate GitHub workflows
      - id: validate-workflows
        name: Validate GitHub Workflows
        entry: python3 tools/validators/validate_workflows.py
        language: system
        files: ^(\.github/workflows/|templates/).*\.yml$
        pass_filenames: false

      # Validate ecosystem state
      - id: validate-ecosystem-state
        name: Validate Ecosystem State
        entry: python3 tools/validators/validate_ecosystem_state.py
        language: system
        files: ^ecosystem/ECOSYSTEM_STATE\.json$
        pass_filenames: false

feat(ci): add agentic-control build, test, and npm release to CI
  .github/workflows/ci.yml
Due: validate-workflows

fix(ci): use correct actions/setup-node SHA v6.0.0
  .github/workflows/ci.yml
Due: validate-workflows

feat(ci): add agentic-control build, test, and npm release to CI (#291)
  .github/workflows/ci.yml
Due: validate-workflows

chore(agentic-control): release v1.0.0
  packages/agentic-control/package.json
Due: none

chore(logging-release): release lifecyclelogging v202511.7.0 [skip ci]
  packages/lifecyclelogging/CHANGELOG.md
  packages/lifecyclelogging/pyproject.toml
  packages/lifecyclelogging/src/lifecyclelogging/__init__.py
Due: none

chore(logging-release): release lifecyclelogging v202511.7.0 [skip ci] Automatically generated by python-semantic-release
  packages/lifecyclelogging/CHANGELOG.md
  packages/lifecyclelogging/pyproject.toml
  packages/lifecyclelogging/src/lifecyclelogging/__init__.py
Due: none

fix(agentic-control): read version from package.json at runtime
  packages/agentic-control/src/index.ts
Due: none

fix(agentic-control): read version from package.json at runtime (#293)
  packages/agentic-control/src/index.ts
Due: none

chore(dic-release): release directed-inputs-class v202511.8.0 [skip ci] Automatically generated by python-semantic-release
  packages/directed-inputs-class/CHANGELOG.md
  packages/directed-inputs-class/pyproject.toml
  packages/directed-inputs-class/src/directed_inputs_class/__init__.py
Due: none

chore(dic-release): release directed-inputs-class v202511.8.0 [skip ci]
  packages/directed-inputs-class/CHANGELOG.md
  packages/directed-inputs-class/pyproject.toml
  packages/directed-inputs-class/src/directed_inputs_class/__init__.py
Due: none

feat(ci): unified release matrix with Python + Node.js and trusted publishing
  .github/sync/agentic-control.yml
  .github/workflows/ci.yml
  packages/agentic-control/package.json
Due: validate-workflows

chore: address review feedback - add coverage to sync exclude
  .github/sync/agentic-control.yml
Due: none

feat(ci): unified release matrix with Python + Node.js and trusted publishing (#294)
  .github/sync/agentic-control.yml
  .github/workflows/ci.yml
  packages/agentic-control/package.json
Due: validate-workflows

chore(ptb-release): release python-terraform-bridge v1.1.0 [skip ci] Automatically generated by python-semantic-release
  packages/python-terraform-bridge/CHANGELOG.md
  packages/python-terraform-bridge/pyproject.toml
  packages/python-terraform-bridge/src/python_terraform_bridge/__init__.py
Due: none

chore(ptb-release): release python-terraform-bridge v1.1.0 [skip ci]
  packages/python-terraform-bridge/CHANGELOG.md
  packages/python-terraform-bridge/pyproject.toml
  packages/python-terraform-bridge/src/python_terraform_bridge/__init__.py
Due: none

chore(edt-release): release extended-data-types v202511.8.0 [skip ci] Automatically generated by python-semantic-release
  packages/extended-data-types/CHANGELOG.md
  packages/extended-data-types/pyproject.toml
  packages/extended-data-types/src/extended_data_types/__init__.py
Due: none

chore(edt-release): release extended-data-types v202511.8.0 [skip ci]
  packages/extended-data-types/CHANGELOG.md
  packages/extended-data-types/pyproject.toml
  packages/extended-data-types/src/extended_data_types/__init__.py
Due: none

docs: create handoff for documentation overhaul
  .cursor/agents/handoffs/documentation-overhaul-20251201.md
Due: none

docs: create handoff for documentation overhaul (#298)
  .cursor/agents/handoffs/documentation-overhaul-20251201.md
Due: none

chore(logging-release): release lifecyclelogging v202511.8.0 [skip ci] Automatically generated by python-semantic-release
  packages/lifecyclelogging/CHANGELOG.md
  packages/lifecyclelogging/pyproject.toml
  packages/lifecyclelogging/src/lifecyclelogging/__init__.py
Due: none

chore(logging-release): release lifecyclelogging v202511.8.0 [skip ci]
  packages/lifecyclelogging/CHANGELOG.md
  packages/lifecyclelogging/pyproject.toml
  packages/lifecyclelogging/src/lifecyclelogging/__init__.py
Due: none

docs: comprehensive documentation overhaul for unified control center
  .ruler/ecosystem.md
  CONTRIBUTING.md
  docs/RELEASE-PROCESS.md
  docs/TOKEN-MANAGEMENT.md
  ecosystems/flipside-crypto/README.md
Due: validate-agentic-docs

docs: comprehensive documentation overhaul for unified control center (#299)
  .ruler/ecosystem.md
  CONTRIBUTING.md
  docs/RELEASE-PROCESS.md
  docs/TOKEN-MANAGEMENT.md
  ecosystems/flipside-crypto/README.md
Due: validate-agentic-docs

chore(dic-release): release directed-inputs-class v202511.9.0 [skip ci] Automatically generated by python-semantic-release
  packages/directed-inputs-class/CHANGELOG.md
  packages/directed-inputs-class/pyproject.toml
  packages/directed-inputs-class/src/directed_inputs_class/__init__.py
Due: none

chore(dic-release): release directed-inputs-class v202511.9.0 [skip ci]
  packages/directed-inputs-class/CHANGELOG.md
  packages/directed-inputs-class/pyproject.toml
  packages/directed-inputs-class/src/directed_inputs_class/__init__.py
Due: none

Fix Dockerfile build failure and hadolint warnings (#300)
  .cursor/Dockerfile
  .cursor/README.md
  .pre-commit-config.yaml
Due: none

chore(ptb-release): release python-terraform-bridge v1.2.0 [skip ci]
  packages/python-terraform-bridge/CHANGELOG.md
  packages/python-terraform-bridge/pyproject.toml
  packages/python-terraform-bridge/src/python_terraform_bridge/__init__.py
Due: none

chore(ptb-release): release python-terraform-bridge v1.2.0 [skip ci] Automatically generated by python-semantic-release
  packages/python-terraform-bridge/CHANGELOG.md
  packages/python-terraform-bridge/pyproject.toml
  packages/python-terraform-bridge/src/python_terraform_bridge/__init__.py
Due: none

Checkpoint before follow-up message
  .github/workflows/ci.yml
Due: validate-workflows

fix(ci): use PYPI_TOKEN for Python packages instead of trusted publishing
  .github/workflows/ci.yml
Due: validate-workflows

fix(ci): use PYPI_TOKEN for Python packages instead of trusted publishing (#301)
  .github/workflows/ci.yml
Due: validate-workflows

chore(connectors-release): release vendor-connectors v202511.12.0 [skip ci]
  packages/vendor-connectors/CHANGELOG.md
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/vendor_connectors/__init__.py
Due: none

chore(connectors-release): release vendor-connectors v202511.12.0 [skip ci] Automatically generated by python-semantic-release
  packages/vendor-connectors/CHANGELOG.md
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/vendor_connectors/__init__.py
Due: none

docs: update memory-bank with triage-generated recovery reports
  memory-bank/activeContext.md
  memory-bank/agent-375d2d54-report.md
  memory-bank/agent-fcfe779a-report.md
  memory-bank/progress.md
Due: none

docs: update memory-bank with triage-generated recovery reports (#304)
  memory-bank/activeContext.md
  memory-bank/agent-375d2d54-report.md
  memory-bank/agent-fcfe779a-report.md
  memory-bank/progress.md
Due: none

Checkpoint before follow-up message
  agentic.config.json
  ecosystems/flipside-crypto/RUNBOOK.md
Due: none

Checkpoint before follow-up message
  ecosystems/flipside-crypto/RUNBOOK.md
  ecosystems/flipside-crypto/memory-bank/agentic-control-setup.md
Due: none
