Repository jbcom/control-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentic-docs, validate-workflows, validate-ecosystem-state

.pre-commit-config.yaml:

# Pre-commit hooks for the jbcom Python Library Management Hub
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Run the formatter
      - id: ruff-format

  # Mypy - Static type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        args: [--strict, --ignore-missing-imports]
        additional_dependencies: [types-all]
        files: ^(src/|tools/|\.github/scripts/).*\.py$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.43.0
    hooks:
      - id: markdownlint
        args: [--fix, --disable, MD013, MD033, MD041]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]

  # Custom validators for this management hub
  - repo: local
    hooks:
      # Validate agentic documentation
      - id: validate-agentic-docs
        name: Validate Agentic Documentation
        entry: python3 tools/validate_agentic_docs.py
        language: system
        files: ^\.ruler/.*\.(md|toml)$
        pass_filenames: false

      # Validate GitHub workflows
      - id: validate-workflows
        name: Validate GitHub Workflows
        entry: python3 tools/validate_workflows.py
        language: system
        files: ^(\.github/workflows/|workflows/).*\.yml$
        pass_filenames: false

      # Validate ecosystem state
      - id: validate-ecosystem-state
        name: Validate Ecosystem State
        entry: python3 tools/validate_ecosystem_state.py
        language: system
        files: ^ECOSYSTEM_STATE\.json$
        pass_filenames: false

Fix: use CI_GITHUB_TOKEN for sync workflow (#118)
  .github/workflows/sync-packages.yml
  packages/ECOSYSTEM.toml
Due: validate-workflows

Fix sync config: dest should be . not /, use valid inputs
  .github/sync.yml
  .github/workflows/sync-packages.yml
Due: validate-workflows

Fix sync config: dest should be . not /, use valid inputs (#119) Co-authored-by: Cursor Agent <cursoragent@cursor.com>
  .github/sync.yml
  .github/workflows/sync-packages.yml
Due: validate-workflows

Fix sync config: dest should be . not /, use valid inputs (#119)
  .github/sync.yml
  .github/workflows/sync-packages.yml
Due: validate-workflows

docs: Update all agent rules for monorepo architecture
  .cursor/agents/jbcom-ecosystem-manager.md
  .github/copilot-instructions.md
  .ruler/ecosystem.md
  AGENTS.md
Due: validate-agentic-docs

docs: Update all agent rules for monorepo architecture (#120)
  .cursor/agents/jbcom-ecosystem-manager.md
  .github/copilot-instructions.md
  .ruler/ecosystem.md
  AGENTS.md
Due: validate-agentic-docs

fix(vendor-connectors): Use requests.structures.CaseInsensitiveDict
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/cloud_connectors/base/utils.py
Due: none

fix(vendor-connectors): Use requests.structures.CaseInsensitiveDict (#121)
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/cloud_connectors/base/utils.py
Due: none

fix(vendor-connectors): Fix lint errors and undefined variable bug
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/cloud_connectors/__init__.py
  packages/vendor-connectors/src/cloud_connectors/aws/__init__.py
  packages/vendor-connectors/src/cloud_connectors/base/__init__.py
  packages/vendor-connectors/src/cloud_connectors/base/errors.py
  packages/vendor-connectors/src/cloud_connectors/base/logging.py
  packages/vendor-connectors/src/cloud_connectors/base/settings.py
  packages/vendor-connectors/src/cloud_connectors/base/utils.py
  packages/vendor-connectors/src/cloud_connectors/github/__init__.py
  packages/vendor-connectors/src/cloud_connectors/google/__init__.py
  packages/vendor-connectors/src/cloud_connectors/slack/__init__.py
  packages/vendor-connectors/src/cloud_connectors/vault/__init__.py
  packages/vendor-connectors/src/cloud_connectors/zoom/__init__.py
  packages/vendor-connectors/tests/conftest.py
  packages/vendor-connectors/tests/test_aws_connector.py
  packages/vendor-connectors/tests/test_github_connector.py
  packages/vendor-connectors/tests/test_google_connector.py
  packages/vendor-connectors/tests/test_slack_connector.py
  packages/vendor-connectors/tests/test_vault_connector.py
  packages/vendor-connectors/tests/test_zoom_connector.py
Due: none

fix(vendor-connectors): Fix lint errors and undefined variable bug (#122)
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/cloud_connectors/__init__.py
  packages/vendor-connectors/src/cloud_connectors/aws/__init__.py
  packages/vendor-connectors/src/cloud_connectors/base/__init__.py
  packages/vendor-connectors/src/cloud_connectors/base/errors.py
  packages/vendor-connectors/src/cloud_connectors/base/logging.py
  packages/vendor-connectors/src/cloud_connectors/base/settings.py
  packages/vendor-connectors/src/cloud_connectors/base/utils.py
  packages/vendor-connectors/src/cloud_connectors/github/__init__.py
  packages/vendor-connectors/src/cloud_connectors/google/__init__.py
  packages/vendor-connectors/src/cloud_connectors/slack/__init__.py
  packages/vendor-connectors/src/cloud_connectors/vault/__init__.py
  packages/vendor-connectors/src/cloud_connectors/zoom/__init__.py
  packages/vendor-connectors/tests/conftest.py
  packages/vendor-connectors/tests/test_aws_connector.py
  packages/vendor-connectors/tests/test_github_connector.py
  packages/vendor-connectors/tests/test_google_connector.py
  packages/vendor-connectors/tests/test_slack_connector.py
  packages/vendor-connectors/tests/test_vault_connector.py
  packages/vendor-connectors/tests/test_zoom_connector.py
Due: none

fix(vendor-connectors): Add __future__ annotations for Python 3.9 compatibility
  packages/vendor-connectors/src/cloud_connectors/base/errors.py
  packages/vendor-connectors/src/cloud_connectors/base/logging.py
  packages/vendor-connectors/src/cloud_connectors/base/utils.py
Due: none

fix(vendor-connectors): Add __future__ annotations for Python 3.9 compatibility (#123)
  packages/vendor-connectors/src/cloud_connectors/base/errors.py
  packages/vendor-connectors/src/cloud_connectors/base/logging.py
  packages/vendor-connectors/src/cloud_connectors/base/utils.py
Due: none

fix(vendor-connectors): Ignore UP045 rule for Optional vs X|None style
  packages/vendor-connectors/pyproject.toml
Due: none

fix(vendor-connectors): Ignore UP045 rule for Optional vs X|None style (#124)
  packages/vendor-connectors/pyproject.toml
Due: none

fix(vendor-connectors): Ignore UP045 rule for Optional vs X|None style (#124) Co-authored-by: Cursor Agent <cursoragent@cursor.com>
  packages/vendor-connectors/pyproject.toml
Due: none

feat: Public repos as release-only containers
  .github/workflows/claude-review.yml
  .github/workflows/sync-packages.yml
  packages/ECOSYSTEM.toml
  templates/python/minimal-ci.yml
  tools/configure_public_repos.sh
Due: validate-workflows

feat: Public repos as release-only containers (#125)
  .github/workflows/claude-review.yml
  .github/workflows/sync-packages.yml
  packages/ECOSYSTEM.toml
  templates/python/minimal-ci.yml
  tools/configure_public_repos.sh
Due: validate-workflows

feat: Release from control center, public repos = pure code mirrors
  .github/workflows/release.yml
  packages/ECOSYSTEM.toml
  templates/python/minimal-ci.yml
  tools/configure_public_repos.sh
Due: validate-workflows

feat: Release from control center, public repos = pure code mirrors (#126)
  .github/workflows/release.yml
  packages/ECOSYSTEM.toml
  templates/python/minimal-ci.yml
  tools/configure_public_repos.sh
Due: validate-workflows

fix: CalVer format YYYY.MMDD.BUILD (e.g. 2025.1126.1)
  .github/workflows/release.yml
Due: validate-workflows

fix: CalVer format YYYY.MMDD.BUILD (e.g. 2025.1126.1) (#127)
  .github/workflows/release.yml
Due: validate-workflows

fix: CalVer format YYYY.MMDD.BUILD (e.g. 2025.1126.1) (#127) Co-authored-by: Cursor Agent <cursoragent@cursor.com>
  .github/workflows/release.yml
Due: validate-workflows

fix: Use PyCalVer format YYYYMM.NNNN (e.g., 202511.0001)
  .github/workflows/release.yml
Due: validate-workflows

fix: Use PyCalVer format YYYYMM.NNNN (e.g., 202511.0001) (#128) Co-authored-by: Cursor Agent <cursoragent@cursor.com>
  .github/workflows/release.yml
Due: validate-workflows

fix: Use PyCalVer format YYYYMM.NNNN (e.g., 202511.0001) (#128)
  .github/workflows/release.yml
Due: validate-workflows

feat: Integrate pycalver for standard CalVer versioning
  .github/workflows/release.yml
  packages/ECOSYSTEM.toml
  packages/directed-inputs-class/pyproject.toml
  packages/extended-data-types/pyproject.toml
  packages/lifecyclelogging/pyproject.toml
  packages/vendor-connectors/pyproject.toml
Due: validate-workflows

Checkpoint before follow-up message
  .github/workflows/release.yml
  packages/ECOSYSTEM.toml
  pyproject.toml
Due: validate-workflows

feat: uv workspace with pycalver at root level
  .github/workflows/release.yml
  packages/directed-inputs-class/pyproject.toml
  packages/extended-data-types/pyproject.toml
  packages/lifecyclelogging/pyproject.toml
  pyproject.toml
  uv.lock
Due: validate-workflows

feat: uv workspace with pycalver (#129)
  .github/workflows/release.yml
  packages/ECOSYSTEM.toml
  packages/directed-inputs-class/pyproject.toml
  packages/extended-data-types/pyproject.toml
  packages/lifecyclelogging/pyproject.toml
  pyproject.toml
  uv.lock
Due: validate-workflows

docs: Add GITHUB_JBCOM_TOKEN auth instructions
  .cursor/agents/jbcom-ecosystem-manager.md
  .cursorrules
Due: none

docs: Add GITHUB_JBCOM_TOKEN auth instructions (#130)
  .cursor/agents/jbcom-ecosystem-manager.md
  .cursorrules
Due: none

docs: Add GITHUB_JBCOM_TOKEN to ruler source files
  .github/copilot-instructions.md
  .ruler/AGENTS.md
  .ruler/cursor.md
  AGENTS.md
Due: validate-agentic-docs

docs: Add GITHUB_JBCOM_TOKEN to ruler source files (#131)
  .github/copilot-instructions.md
  .ruler/AGENTS.md
  .ruler/cursor.md
  AGENTS.md
Due: validate-agentic-docs

cleanup: Organize docs, remove old status files
  COMPLETE.md
  CONSOLIDATION_SUMMARY.md
  ECOSYSTEM.md
  FINAL_STATUS.md
  IMPLEMENTATION_SUMMARY.md
  MISSION_COMPLETE.md
  REPO_CLEANUP_PROPOSAL.md
  TRANSFORMATION_COMPLETE.md
  WORKFLOWS_GREEN.md
  docs/ARCHITECTURE.md
  docs/TEMPLATE_USAGE.md
Due: none

cleanup: Organize docs, remove old status files (#132)
  COMPLETE.md
  CONSOLIDATION_SUMMARY.md
  ECOSYSTEM.md
  FINAL_STATUS.md
  IMPLEMENTATION_SUMMARY.md
  MISSION_COMPLETE.md
  REPO_CLEANUP_PROPOSAL.md
  TRANSFORMATION_COMPLETE.md
  WORKFLOWS_GREEN.md
  docs/ARCHITECTURE.md
  docs/TEMPLATE_USAGE.md
Due: none

cleanup: Delete obsolete ecosystem/ and tools/ folders
  ecosystem/ECOSYSTEM_MANIFEST.yaml
  ecosystem/ECOSYSTEM_STATE.json
  tools/configure_public_repos.sh
  tools/deploy/deploy_workflow.py
  tools/deploy/deploy_workflows.py
  tools/ecosystem/manage.py
  tools/mcp_client.py
  tools/monitor/dependency_graph.py
  tools/monitor/health_check.py
  tools/start-mcp-proxy.sh
  tools/validators/validate_agentic_docs.py
  tools/validators/validate_ecosystem_state.py
  tools/validators/validate_workflows.py
Due: none

cleanup: Delete obsolete ecosystem/ and tools/ folders (#133)
  ecosystem/ECOSYSTEM_MANIFEST.yaml
  ecosystem/ECOSYSTEM_STATE.json
  tools/configure_public_repos.sh
  tools/deploy/deploy_workflow.py
  tools/deploy/deploy_workflows.py
  tools/ecosystem/manage.py
  tools/mcp_client.py
  tools/monitor/dependency_graph.py
  tools/monitor/health_check.py
  tools/start-mcp-proxy.sh
  tools/validators/validate_agentic_docs.py
  tools/validators/validate_ecosystem_state.py
  tools/validators/validate_workflows.py
Due: none

cleanup: Delete obsolete workflows
  .github/workflows/deploy-to-ecosystem.yml
  .github/workflows/health-check.yml
  .github/workflows/hub-validation.yml
  .github/workflows/security-scan.yml
Due: validate-workflows

cleanup: Delete obsolete workflows (#134)
  .github/workflows/deploy-to-ecosystem.yml
  .github/workflows/health-check.yml
  .github/workflows/hub-validation.yml
  .github/workflows/security-scan.yml
Due: validate-workflows

docs: Update README, CONTRIBUTING, CHANGELOG for current architecture
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/ARCHITECTURE.md
  docs/MANAGEMENT.md
  docs/TEMPLATE_USAGE.md
  docs/VENDOR_CONNECTORS_MULTILANG.md
Due: none
