Repository jbcom/control-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentic-docs, validate-workflows, validate-ecosystem-state

validate-agentic-docs:
  name: Validate Agentic Documentation
  entry: python3 tools/validators/validate_agentic_docs.py
  language: system
  pass_filenames: false

validate-workflows:
  name: Validate GitHub Workflows
  entry: python3 tools/validators/validate_workflows.py
  language: system
  pass_filenames: false

validate-ecosystem-state:
  name: Validate Ecosystem State
  entry: python3 tools/validators/validate_ecosystem_state.py
  language: system
  pass_filenames: false

chore(dic-release): release directed-inputs-class v202511.7.0 [skip ci] Automatically generated by python-semantic-release
  packages/directed-inputs-class/CHANGELOG.md
  packages/directed-inputs-class/pyproject.toml
  packages/directed-inputs-class/src/directed_inputs_class/__init__.py
Due: none

chore(dic-release): release directed-inputs-class v202511.7.0 [skip ci]
  packages/directed-inputs-class/CHANGELOG.md
  packages/directed-inputs-class/pyproject.toml
  packages/directed-inputs-class/src/directed_inputs_class/__init__.py
Due: none

fix(lint): Fix all linting errors in directed-inputs-class and python-terraform-bridge
  CLAUDE.md.bak
  packages/directed-inputs-class/src/directed_inputs_class/decorators.py
  packages/directed-inputs-class/tests/test_decorators.py
  packages/python-terraform-bridge/src/python_terraform_bridge/module_resources.py
  packages/python-terraform-bridge/src/python_terraform_bridge/runtime.py
  packages/python-terraform-bridge/tests/test_runtime.py
Due: none

feat: Add decorator support for DirectedInputsClass
  packages/directed-inputs-class/src/directed_inputs_class/__init__.py
  packages/directed-inputs-class/src/directed_inputs_class/decorators.py
  packages/directed-inputs-class/tests/test_decorators.py
  packages/python-terraform-bridge/pyproject.toml
  packages/python-terraform-bridge/src/python_terraform_bridge/module_resources.py
  packages/python-terraform-bridge/src/python_terraform_bridge/runtime.py
  packages/python-terraform-bridge/tests/test_module_resources.py
  packages/python-terraform-bridge/tests/test_runtime.py
Due: none

fix(bridge): Complete truncated _print_help method
  packages/python-terraform-bridge/src/python_terraform_bridge/runtime.py
Due: none

Fix critical issues in python-terraform-bridge (#253)
  CLAUDE.md.bak
  packages/directed-inputs-class/src/directed_inputs_class/__init__.py
  packages/directed-inputs-class/src/directed_inputs_class/decorators.py
  packages/directed-inputs-class/tests/test_decorators.py
  packages/python-terraform-bridge/pyproject.toml
  packages/python-terraform-bridge/src/python_terraform_bridge/module_resources.py
  packages/python-terraform-bridge/src/python_terraform_bridge/runtime.py
  packages/python-terraform-bridge/tests/test_module_resources.py
  packages/python-terraform-bridge/tests/test_runtime.py
Due: none

chore(connectors-release): release vendor-connectors v202511.10.0 [skip ci]
  packages/vendor-connectors/CHANGELOG.md
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/vendor_connectors/__init__.py
Due: none

chore(connectors-release): release vendor-connectors v202511.10.0 [skip ci] Automatically generated by python-semantic-release
  packages/vendor-connectors/CHANGELOG.md
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/vendor_connectors/__init__.py
Due: none

Checkpoint before follow-up message
  .github/workflows/ci.yml
Due: validate-workflows

Bump directed-inputs-class to 202511.7.0
  uv.lock
Due: none

fix(ci): add python-terraform-bridge to CI release matrix
  .ruler/AGENTS.md
Due: validate-agentic-docs

fix(ci): add python-terraform-bridge to tox.ini
  tox.ini
Due: none

fix(ci): exclude python-terraform-bridge from Python 3.9 tests
  .github/workflows/ci.yml
Due: validate-workflows

fix(bridge): restore Python 3.9 compatibility
  .github/workflows/ci.yml
  packages/python-terraform-bridge/pyproject.toml
Due: validate-workflows

fix(ci): use correct test extra name for python-terraform-bridge
  tox.ini
Due: none

fix(ci): Add python-terraform-bridge to CI release matrix (#255)
  .github/workflows/ci.yml
  .ruler/AGENTS.md
  packages/python-terraform-bridge/pyproject.toml
  tox.ini
  uv.lock
Due: validate-agentic-docs, validate-workflows

chore(ptb-release): release python-terraform-bridge v1.0.0 [skip ci] Automatically generated by python-semantic-release
  packages/python-terraform-bridge/CHANGELOG.md
  packages/python-terraform-bridge/pyproject.toml
  packages/python-terraform-bridge/src/python_terraform_bridge/__init__.py
Due: none

chore(ptb-release): release python-terraform-bridge v1.0.0 [skip ci]
  packages/python-terraform-bridge/CHANGELOG.md
  packages/python-terraform-bridge/pyproject.toml
  packages/python-terraform-bridge/src/python_terraform_bridge/__init__.py
Due: none

Checkpoint before follow-up message
  packages/cursor-fleet/src/cli.ts
  packages/cursor-fleet/src/fleet.ts
  packages/cursor-fleet/src/mcp-client.ts
Due: none

Checkpoint before follow-up message
  packages/cursor-fleet/package-lock.json
  packages/cursor-fleet/package.json
  packages/cursor-fleet/src/cli.ts
  packages/cursor-fleet/src/conversation-splitter.ts
  packages/cursor-fleet/src/cursor-api.ts
  packages/cursor-fleet/src/fleet.ts
  packages/cursor-fleet/src/index.ts
Due: none

Checkpoint before follow-up message
  packages/cursor-fleet/src/fleet.ts
Due: none

Checkpoint before follow-up message
  packages/cursor-fleet/src/cli.ts
  packages/cursor-fleet/src/index.ts
  process-compose.yml
Due: none

Checkpoint before follow-up message
  packages/cursor-fleet/src/cursor-api.ts
Due: none

fix(fleet): Address AI review security and validation feedback
  packages/cursor-fleet/src/cursor-api.ts
Due: none

feat(fleet): Add conversation splitter for large conversation analysis
  packages/cursor-fleet/src/conversation-splitter.ts
  packages/cursor-fleet/src/index.ts
Due: none

feat(fleet): Integrate CursorAPI and add split command
  packages/cursor-fleet/src/cli.ts
  packages/cursor-fleet/src/fleet.ts
Due: none

Checkpoint before follow-up message
  packages/cursor-fleet/README.md
Due: none

feat(fleet): Add AI-powered analysis with Vercel AI SDK + Claude
  packages/cursor-fleet/package-lock.json
  packages/cursor-fleet/package.json
  packages/cursor-fleet/src/ai-analyzer.ts
  packages/cursor-fleet/src/cli.ts
  packages/cursor-fleet/src/fleet.ts
  packages/cursor-fleet/src/index.ts
Due: none

docs(fleet): Add AI analysis documentation to README
  packages/cursor-fleet/README.md
Due: none

feat(fleet): Add Copilot integration for auto-PR creation from issues
  .codex/rules/ruler_codex_instructions.md
  .codex/rules/ruler_codex_instructions.md.bak
  .github/copilot-instructions.md
  .roo/rules/ruler_roocode_instructions.md
  .roo/rules/ruler_roocode_instructions.md.bak
  .ruler/copilot.md
  AGENTS.md
  CLAUDE.md
  CLAUDE.md.bak
  packages/cursor-fleet/src/ai-analyzer.ts
  packages/cursor-fleet/src/cli.ts
Due: validate-agentic-docs

feat(fleet): Add station-to-station handoff protocol
  packages/cursor-fleet/README.md
  packages/cursor-fleet/src/cli.ts
  packages/cursor-fleet/src/handoff.ts
  packages/cursor-fleet/src/index.ts
Due: none

fix(fleet): Correct API endpoints and add self-identification
  packages/cursor-fleet/src/cli.ts
  packages/cursor-fleet/src/cursor-api.ts
  packages/cursor-fleet/src/types.ts
Due: none

feat(fleet): Add direct CursorAPI client for bidirectional coordination (#261)
  .codex/rules/ruler_codex_instructions.md
  .codex/rules/ruler_codex_instructions.md.bak
  .github/copilot-instructions.md
  .roo/rules/ruler_roocode_instructions.md
  .roo/rules/ruler_roocode_instructions.md.bak
  .ruler/copilot.md
  AGENTS.md
  CLAUDE.md
  CLAUDE.md.bak
  packages/cursor-fleet/README.md
  packages/cursor-fleet/package-lock.json
  packages/cursor-fleet/package.json
  packages/cursor-fleet/src/ai-analyzer.ts
  packages/cursor-fleet/src/cli.ts
  packages/cursor-fleet/src/conversation-splitter.ts
  packages/cursor-fleet/src/cursor-api.ts
  packages/cursor-fleet/src/fleet.ts
  packages/cursor-fleet/src/handoff.ts
  packages/cursor-fleet/src/index.ts
  packages/cursor-fleet/src/types.ts
Due: validate-agentic-docs

Checkpoint before follow-up message
  .cursor/handoff_bc-36f4d928-c988-4ca2-b266-5074a3626aa7.json
  package.json
  packages/cursor-fleet/src/cli.ts
  packages/cursor-fleet/src/handoff.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Checkpoint before follow-up message
  .ruler/AGENTS.md
Due: validate-agentic-docs

feat(connectors): finish terraform helper migration
  packages/vendor-connectors/MIGRATION_STATUS.md
  packages/vendor-connectors/src/vendor_connectors/aws/organizations.py
  packages/vendor-connectors/src/vendor_connectors/github/__init__.py
  packages/vendor-connectors/tests/test_aws_organizations.py
  packages/vendor-connectors/tests/test_github_workflow_builder.py
  uv.lock
Due: none

fix(connectors): resolve import sorting lint errors
  packages/vendor-connectors/src/vendor_connectors/aws/organizations.py
  packages/vendor-connectors/src/vendor_connectors/github/__init__.py
  packages/vendor-connectors/tests/test_aws_organizations.py
Due: none

Path conditions:
  validate-agentic-docs: any of: ^\.ruler/.*\.(md|toml)$
  validate-workflows: any of: ^(\.github/workflows/|templates/).*\.yml$
  validate-ecosystem-state: any of: ^ecosystem/ECOSYSTEM_STATE\.json$
