Repository jbcom/control-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentic-docs, validate-workflows, validate-ecosystem-state

.pre-commit-config.yaml:

# Pre-commit hooks for the jbcom Python Library Management Hub
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Run the formatter
      - id: ruff-format

  # Mypy - Static type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: [--strict, --ignore-missing-imports]
        additional_dependencies: [types-all]
        files: ^(src/|tools/|\.github/scripts/).*\.py$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint
        args: [--fix, --disable, MD013, MD033, MD041]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]

  # GitHub Actions workflow linting - catches schema issues before push
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  # Custom validators for this management hub
  - repo: local
    hooks:
      # Validate agentic documentation
      - id: validate-agentic-docs
        name: Validate Agentic Documentation
        entry: python3 tools/validators/validate_agentic_docs.py
        language: system
        files: ^\.ruler/.*\.(md|toml)$
        pass_filenames: false

      # Validate GitHub workflows
      - id: validate-workflows
        name: Validate GitHub Workflows
        entry: python3 tools/validators/validate_workflows.py
        language: system
        files: ^(\.github/workflows/|templates/).*\.yml$
        pass_filenames: false

      # Validate ecosystem state
      - id: validate-ecosystem-state
        name: Validate Ecosystem State
        entry: python3 tools/validators/validate_ecosystem_state.py
        language: system
        files: ^ecosystem/ECOSYSTEM_STATE\.json$
        pass_filenames: false

feat: Update dependencies and add ai-triage package
  pnpm-lock.yaml
Due: none

fix(fleet): align handoff context.json with HandoffContext interface
  .cursor/handoff/bc-3248f18e-cea4-41c1-9d39-20c58077309d/context.json
Due: none

feat(fleet): station-to-station handoff context bc-3248f18e → bc-c34f7797 (#272)
  .cursor/handoff/bc-3248f18e-cea4-41c1-9d39-20c58077309d/context.json
Due: none

Checkpoint before follow-up message
  uv.lock
Due: none

docs: fix test instructions to use tox instead of uv run pytest
  .codex/rules/ruler_codex_instructions.md
  .github/copilot-instructions.md
  .roo/rules/ruler_roocode_instructions.md
  .ruler/AGENTS.md
  .ruler/environment-setup.md
  AGENTS.md
  CLAUDE.md
  pnpm-lock.yaml
Due: validate-agentic-docs

docs: use $HOME instead of /root for portable path
  .codex/rules/ruler_codex_instructions.md
  .github/copilot-instructions.md
  .roo/rules/ruler_roocode_instructions.md
  .ruler/AGENTS.md
  .ruler/environment-setup.md
  AGENTS.md
  CLAUDE.md
Due: validate-agentic-docs

docs: fix test instructions + repository health audit (#275)
  .codex/rules/ruler_codex_instructions.md
  .github/copilot-instructions.md
  .roo/rules/ruler_roocode_instructions.md
  .ruler/AGENTS.md
  .ruler/environment-setup.md
  AGENTS.md
  CLAUDE.md
  pnpm-lock.yaml
  uv.lock
Due: validate-agentic-docs

Update packages/cursor-fleet/docs/FOLLOWUP_INVESTIGATION.md
  packages/cursor-fleet/docs/FOLLOWUP_INVESTIGATION.md
Due: none

Checkpoint before follow-up message
  packages/ai-triage/src/cli.ts
Due: none

Refactor status command to use envVars array
  packages/ai-triage/src/cli.ts
Due: none

Checkpoint before follow-up message
  packages/ai-triage/package-lock.json
  packages/ai-triage/package.json
  packages/ai-triage/src/cli.ts
Due: none

Refactor MCP client configuration and environment variable handling
  packages/ai-triage/src/cli.ts
  packages/ai-triage/src/mcp-clients.ts
Due: none

feat(fleet): Document agent-to-agent communication pattern and add COPILOT_MCP_* env support (#276)
  docs/ENVIRONMENT_VARIABLES.md
  package-lock.json
  packages/ai-triage/package-lock.json
  packages/ai-triage/package.json
  packages/ai-triage/src/cli.ts
  packages/ai-triage/src/mcp-clients.ts
  packages/cursor-fleet/README.md
  packages/cursor-fleet/docs/FOLLOWUP_INVESTIGATION.md
  packages/cursor-fleet/package.json
  packages/cursor-fleet/src/ai-analyzer.ts
  packages/cursor-fleet/src/cursor-api.ts
  packages/cursor-fleet/src/fleet.ts
  packages/cursor-fleet/src/handoff.ts
  packages/cursor-fleet/src/mcp-client.ts
  packages/cursor-fleet/src/test-followup-delivery.ts
  packages/cursor-fleet/tsconfig.json
Due: none

Refactor CI to use uv and add new workflows
  .github/workflows/ci.yml
  .github/workflows/claude-ci-fix.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/sync-claude-tooling.yml
  .github/workflows/sync.yml
  tox.ini
Due: validate-workflows

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: validate-workflows

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: validate-workflows

Update tox.ini
  tox.ini
Due: none

Update .github/workflows/docs.yml
  .github/workflows/docs.yml
Due: validate-workflows

Update .github/workflows/sync.yml
  .github/workflows/sync.yml
Due: validate-workflows

Fix: Download all packages and set UV_FIND_LINKS for local resolution
  .github/workflows/ci.yml
  tox.ini
Due: validate-workflows

Refactor CI to conditionally build and deploy packages
  .github/workflows/docs.yml
Due: validate-workflows

Configure UV_FIND_LINKS for local wheel resolution
  .github/workflows/ci.yml
  tox.ini
Due: validate-workflows

feat: Add validation theater anti-pattern to agent rules
  .codex/rules/ruler_codex_instructions.md
  .codex/rules/ruler_codex_instructions.md.bak
  .github/copilot-instructions.md
  .roo/rules/ruler_roocode_instructions.md
  .roo/rules/ruler_roocode_instructions.md.bak
  .ruler/cursor.md
  AGENTS.md
  pnpm-lock.yaml
Due: validate-agentic-docs

Refactor tox.ini and CI to use UV_FIND_LINKS for local wheels
  .github/workflows/ci.yml
  tox.ini
Due: validate-workflows

Checkpoint before follow-up message
  .codex/rules/ruler_codex_instructions.md.bak
  .github/workflows/ci.yml
  .gitignore
  .roo/rules/ruler_roocode_instructions.md.bak
Due: validate-workflows

refactor: Replace Makefile with justfile, expand typecheck coverage
  .github/workflows/ci.yml
  Makefile
  justfile
  tox.ini
Due: validate-workflows

fix: Align Python version requirements to 3.9 minimum
  pyproject.toml
Due: none

Checkpoint before follow-up message
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: validate-workflows

fix: Add package_root to tox.ini for monorepo builds
  tox.ini
Due: none

fix: Use skip_install with deps for monorepo package testing
  tox.ini
Due: none

Update CI to ignore new cache dirs and use latest actions
  .github/sync/directed-inputs-class.yml
  .github/sync/extended-data-types.yml
  .github/sync/lifecyclelogging.yml
  .github/sync/python-terraform-bridge.yml
  .github/sync/vendor-connectors.yml
  .github/workflows/ci.yml
  CI_RELEASE_FIX_SUMMARY.md
Due: validate-workflows

Update .github/sync/extended-data-types.yml
  .github/sync/extended-data-types.yml
Due: none
