Repository jbcom/control-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentic-docs, validate-workflows, validate-ecosystem-state

validate-agentic-docs:
  name: Validate Agentic Documentation
  entry: python3 tools/validate_agentic_docs.py
  language: system
  pass_filenames: false

validate-workflows:
  name: Validate GitHub Workflows
  entry: python3 tools/validate_workflows.py
  language: system
  pass_filenames: false

validate-ecosystem-state:
  name: Validate Ecosystem State
  entry: python3 tools/validate_ecosystem_state.py
  language: system
  pass_filenames: false

docs: Update README, CONTRIBUTING, CHANGELOG for current architecture (#135)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/ARCHITECTURE.md
  docs/MANAGEMENT.md
  docs/TEMPLATE_USAGE.md
  docs/VENDOR_CONNECTORS_MULTILANG.md
Due: none

cleanup: Remove old template files
  src/example_package/__init__.py
  src/example_package/py.typed
  templates/python/library-ci.yml
  tests/conftest.py
  tests/test_default.py
  workflows/README.md
  workflows/hub-validation.yml
Due: validate-workflows

cleanup: Remove old template files (#136)
  src/example_package/__init__.py
  src/example_package/py.typed
  templates/python/library-ci.yml
  tests/conftest.py
  tests/test_default.py
  workflows/README.md
  workflows/hub-validation.yml
Due: validate-workflows

Checkpoint before follow-up message
  Makefile
  noxfile.py
  tox.ini
Due: none

feat: Efficient monorepo testing strategy
  .github/workflows/test.yml
  .github/workflows/unit_tests.yml
Due: validate-workflows

feat: Efficient monorepo testing strategy (#137)
  .github/workflows/test.yml
  .github/workflows/unit_tests.yml
  Makefile
  noxfile.py
  tox.ini
Due: validate-workflows

feat: Unified CI workflow
  .github/workflows/ci.yml
  .github/workflows/claude-review.yml
  .github/workflows/github_release.yml
  .github/workflows/pypi_deploy.yml
  .github/workflows/release.yml
  .github/workflows/ruff.yml
  .github/workflows/sync-packages.yml
  .github/workflows/test.yml
Due: validate-workflows

feat: Unified CI workflow (#138)
  .github/workflows/ci.yml
  .github/workflows/claude-review.yml
  .github/workflows/github_release.yml
  .github/workflows/pypi_deploy.yml
  .github/workflows/release.yml
  .github/workflows/ruff.yml
  .github/workflows/sync-packages.yml
  .github/workflows/test.yml
Due: validate-workflows

Checkpoint before follow-up message
  .github/workflows/ci.yml
Due: validate-workflows

Checkpoint before follow-up message
  .github/workflows/reusable/docs.yml
  .github/workflows/reusable/lint.yml
  .github/workflows/reusable/release.yml
  .github/workflows/reusable/sync.yml
  .github/workflows/reusable/test.yml
Due: validate-workflows

Checkpoint before follow-up message
  .github/workflows/ci.yml
  .github/workflows/reusable/enforce-standards.yml
Due: validate-workflows

feat: Centralized repo standards definition and enforcement
  .github/repo-standards.yml
  .github/workflows/reusable/enforce-standards.yml
Due: validate-workflows

feat: Centralized repo standards (#139)
  .github/repo-standards.yml
  .github/workflows/ci.yml
  .github/workflows/reusable/docs.yml
  .github/workflows/reusable/enforce-standards.yml
  .github/workflows/reusable/lint.yml
  .github/workflows/reusable/release.yml
  .github/workflows/reusable/sync.yml
  .github/workflows/reusable/test.yml
Due: validate-workflows

Checkpoint before follow-up message
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/vendor_connectors/__init__.py
  packages/vendor-connectors/src/vendor_connectors/aws/__init__.py
  packages/vendor-connectors/src/vendor_connectors/base/__init__.py
  packages/vendor-connectors/src/vendor_connectors/base/errors.py
  packages/vendor-connectors/src/vendor_connectors/base/logging.py
  packages/vendor-connectors/src/vendor_connectors/base/settings.py
  packages/vendor-connectors/src/vendor_connectors/base/utils.py
  packages/vendor-connectors/src/vendor_connectors/github/__init__.py
  packages/vendor-connectors/src/vendor_connectors/google/__init__.py
  packages/vendor-connectors/src/vendor_connectors/slack/__init__.py
  packages/vendor-connectors/src/vendor_connectors/vault/__init__.py
  packages/vendor-connectors/src/vendor_connectors/zoom/__init__.py
Due: none

Checkpoint before follow-up message
  packages/vendor-connectors/src/vendor_connectors/base/__init__.py
  packages/vendor-connectors/src/vendor_connectors/base/errors.py
  packages/vendor-connectors/src/vendor_connectors/base/logging.py
  packages/vendor-connectors/src/vendor_connectors/base/settings.py
  packages/vendor-connectors/src/vendor_connectors/base/utils.py
Due: none

Checkpoint before follow-up message
  packages/vendor-connectors/src/vendor_connectors/__init__.py
  packages/vendor-connectors/src/vendor_connectors/aws/__init__.py
  packages/vendor-connectors/src/vendor_connectors/github/__init__.py
  packages/vendor-connectors/src/vendor_connectors/google/__init__.py
  packages/vendor-connectors/src/vendor_connectors/slack/__init__.py
  packages/vendor-connectors/src/vendor_connectors/vault/__init__.py
  packages/vendor-connectors/src/vendor_connectors/zoom/__init__.py
Due: none

Refactor: Rename cloud-connectors to vendor-connectors
  .ruler/ecosystem.md
  packages/vendor-connectors/README.md
  packages/vendor-connectors/src/vendor_connectors/connectors.py
  packages/vendor-connectors/tests/conftest.py
  packages/vendor-connectors/tests/test_aws_connector.py
  packages/vendor-connectors/tests/test_github_connector.py
  packages/vendor-connectors/tests/test_google_connector.py
  packages/vendor-connectors/tests/test_slack_connector.py
  packages/vendor-connectors/tests/test_vault_connector.py
  packages/vendor-connectors/tests/test_zoom_connector.py
Due: validate-agentic-docs

Update packages/vendor-connectors/src/vendor_connectors/slack/__init__.py
  packages/vendor-connectors/src/vendor_connectors/slack/__init__.py
Due: none

Auto-commit pending changes before rebase - PR synchronize
  packages/vendor-connectors/src/vendor_connectors/connectors.py
Due: none

Update packages/vendor-connectors/src/vendor_connectors/vault/__init__.py
  packages/vendor-connectors/src/vendor_connectors/vault/__init__.py
Due: none

[WIP] Address feedback on vendor connectors library refactor (#141)
  packages/vendor-connectors/src/vendor_connectors/github/__init__.py
Due: none

Refactor Zoom connector: Extract hardcoded timeout to constant (#142)
  packages/vendor-connectors/src/vendor_connectors/zoom/__init__.py
Due: none

[WIP] Address feedback on vendor connectors library refactor (#143)
  packages/vendor-connectors/src/vendor_connectors/connectors.py
Due: none

Update packages/vendor-connectors/tests/conftest.py
  packages/vendor-connectors/tests/conftest.py
Due: none

Update packages/vendor-connectors/src/vendor_connectors/connectors.py
  packages/vendor-connectors/src/vendor_connectors/connectors.py
Due: none

Auto-commit pending changes before rebase - PR synchronize
  packages/vendor-connectors/src/vendor_connectors/connectors.py
  packages/vendor-connectors/src/vendor_connectors/github/__init__.py
Due: none

Fix: Replace Unicode multiplication signs in CI workflow + add actionlint
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: validate-workflows

Test: Add minimal workflow to debug CI issue
  .github/workflows/test-ci.yml
Due: validate-workflows

Test: Add matrix workflow
  .github/workflows/test-ci.yml
Due: validate-workflows

Test: Reusable workflow call
  .github/workflows/test-ci.yml
Due: validate-workflows

Test: Back to simple job
  .github/workflows/test-ci.yml
Due: validate-workflows

Test: Explicit repo reference for reusable workflow
  .github/workflows/test-ci.yml
Due: validate-workflows

Test: Reusable workflow in root workflows dir
  .github/workflows/lint-reusable.yml
  .github/workflows/test-ci.yml
Due: validate-workflows

Fix: Move reusable workflows to root directory
  .github/workflows/ci.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-enforce-standards.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-sync.yml
  .github/workflows/reusable-test.yml
  .github/workflows/reusable/lint.yml
  .github/workflows/test-ci.yml
Due: validate-workflows

Fix: Use single-line JSON for GITHUB_OUTPUT compatibility
  .github/workflows/ci.yml
Due: validate-workflows

Run pre-commit autoupdate to manage hook versions
  .pre-commit-config.yaml
Due: none

Fix: CI workflow broken by Unicode characters (#152)
  .github/workflows/ci.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-enforce-standards.yml
  .github/workflows/reusable-lint.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-sync.yml
  .github/workflows/reusable-test.yml
  .pre-commit-config.yaml
Due: validate-workflows

Path conditions:
  validate-agentic-docs: any of: ^\.ruler/.*\.(md|toml)$
  validate-workflows: any of: ^(\.github/workflows/|workflows/).*\.yml$
  validate-ecosystem-state: any of: ^ECOSYSTEM_STATE\.json$
