Repository jbcom/control-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentic-docs, validate-workflows, validate-ecosystem-state

.pre-commit-config.yaml:

# Pre-commit hooks for the jbcom Python Library Management Hub
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Run the formatter
      - id: ruff-format

  # Mypy - Static type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: [--strict, --ignore-missing-imports]
        additional_dependencies: [types-all]
        files: ^(src/|tools/|\.github/scripts/).*\.py$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint
        args: [--fix, --disable, MD013, MD033, MD041]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]

  # GitHub Actions workflow linting - catches schema issues before push
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  # Custom validators for this management hub
  - repo: local
    hooks:
      # Validate agentic documentation
      - id: validate-agentic-docs
        name: Validate Agentic Documentation
        entry: python3 tools/validators/validate_agentic_docs.py
        language: system
        files: ^\.ruler/.*\.(md|toml)$
        pass_filenames: false

      # Validate GitHub workflows
      - id: validate-workflows
        name: Validate GitHub Workflows
        entry: python3 tools/validators/validate_workflows.py
        language: system
        files: ^(\.github/workflows/|templates/).*\.yml$
        pass_filenames: false

      # Validate ecosystem state
      - id: validate-ecosystem-state
        name: Validate Ecosystem State
        entry: python3 tools/validators/validate_ecosystem_state.py
        language: system
        files: ^ecosystem/ECOSYSTEM_STATE\.json$
        pass_filenames: false

fix: Improve replay_agent_session.py with automatic artifact extraction
  scripts/replay_agent_session.py
Due: none

fix: Add mandatory tooling discovery and improve replay script
  .codex/rules/ruler_codex_instructions.md
  .codex/rules/ruler_codex_instructions.md.bak
  .cursor/rules/00-loader.mdc
  .github/copilot-instructions.md
  .roo/rules/ruler_roocode_instructions.md
  .roo/rules/ruler_roocode_instructions.md.bak
  .ruler/AGENTS.md
  memory-bank/agenticRules.md
  scripts/replay_agent_session.py
Due: validate-agentic-docs

fix: Add mandatory tooling discovery and improve replay script (#188)
  .codex/rules/ruler_codex_instructions.md
  .codex/rules/ruler_codex_instructions.md.bak
  .cursor/rules/00-loader.mdc
  .github/copilot-instructions.md
  .roo/rules/ruler_roocode_instructions.md
  .roo/rules/ruler_roocode_instructions.md.bak
  .ruler/AGENTS.md
  memory-bank/agenticRules.md
  scripts/replay_agent_session.py
Due: validate-agentic-docs

Checkpoint before follow-up message
  .github/actions/spawn-cursor-agent/action.yml
  .github/workflows/agent-post-merge.yml
  .github/workflows/agent-pr-review.yml
Due: validate-workflows

feat: Add GitHub Actions workflows for agent-driven issue triage and project management
  .github/workflows/agent-issue-triage.yml
  .github/workflows/agent-project-management.yml
Due: validate-workflows

security: Address Amazon Q code review findings
  .github/actions/spawn-cursor-agent/action.yml
  .github/workflows/agent-issue-triage.yml
  .github/workflows/agent-post-merge.yml
  .github/workflows/agent-pr-review.yml
  .github/workflows/agent-project-management.yml
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: validate-workflows

feat: GitHub Actions workflows for agent-driven development (#189)
  .github/actions/spawn-cursor-agent/action.yml
  .github/workflows/agent-issue-triage.yml
  .github/workflows/agent-post-merge.yml
  .github/workflows/agent-pr-review.yml
  .github/workflows/agent-project-management.yml
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: validate-workflows

feat: Integrate anthropics/claude-code-action for AI-driven workflows
  .claude/commands/ecosystem-sync.md
  .claude/commands/fix-ci.md
  .claude/commands/label-issue.md
  .claude/commands/review-pr.md
  .github/workflows/claude-ci-fix.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude-pr-review.yml
  .github/workflows/claude.yml
  .gitignore
  CLAUDE.md
Due: validate-workflows

feat: Add agentic cycle orchestration architecture
  .github/ISSUE_TEMPLATE/agentic-cycle.yml
  .github/workflows/agentic-cycle.yml
  .github/workflows/sync-claude-tooling.yml
  docs/AGENTIC-ORCHESTRATION.md
  memory-bank/activeContext.md
  templates/claude/CLAUDE.md.template
  templates/claude/commands/label-issue.md
  templates/claude/workflows/claude-issue-triage.yml
  templates/claude/workflows/claude-pr-review.yml
  templates/claude/workflows/claude-upstream-notify.yml
  templates/claude/workflows/claude.yml
Due: validate-workflows

docs: Update progress log with orchestration session
  memory-bank/progress.md
Due: none

feat: Add wiki-based documentation system
  .cursor/scripts/wiki-cli
  .github/actions/wiki-read/action.yml
  .github/actions/wiki-write/action.yml
  .github/workflows/wiki-manage.yml
  docs/WIKI-ARCHITECTURE.md
  templates/wiki/AGENTS.md.template
  templates/wiki/cursor-rules-00-wiki.mdc.template
Due: validate-workflows

feat: Complete agentic architecture - Claude Code, cycles, wiki (#190)
  .claude/commands/ecosystem-sync.md
  .claude/commands/fix-ci.md
  .claude/commands/label-issue.md
  .claude/commands/review-pr.md
  .cursor/scripts/wiki-cli
  .github/ISSUE_TEMPLATE/agentic-cycle.yml
  .github/actions/wiki-read/action.yml
  .github/actions/wiki-write/action.yml
  .github/workflows/agentic-cycle.yml
  .github/workflows/claude-ci-fix.yml
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude-pr-review.yml
  .github/workflows/claude.yml
  .github/workflows/sync-claude-tooling.yml
  .github/workflows/wiki-manage.yml
  .gitignore
  CLAUDE.md
  docs/AGENTIC-ORCHESTRATION.md
  docs/WIKI-ARCHITECTURE.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  templates/claude/CLAUDE.md.template
  templates/claude/commands/label-issue.md
  templates/claude/workflows/claude-issue-triage.yml
  templates/claude/workflows/claude-pr-review.yml
  templates/claude/workflows/claude-upstream-notify.yml
  templates/claude/workflows/claude.yml
  templates/wiki/AGENTS.md.template
  templates/wiki/cursor-rules-00-wiki.mdc.template
Due: validate-workflows

fix: Use JBCOM_TOKEN secret (GitHub disallows GITHUB_ prefix)
  .github/workflows/agentic-cycle.yml
  .github/workflows/sync-claude-tooling.yml
  .github/workflows/wiki-manage.yml
  templates/claude/workflows/claude-upstream-notify.yml
Due: validate-workflows

fix: Use JBCOM_TOKEN secret (GitHub disallows GITHUB_ prefix) (#191)
  .github/workflows/agentic-cycle.yml
  .github/workflows/sync-claude-tooling.yml
  .github/workflows/wiki-manage.yml
  templates/claude/workflows/claude-upstream-notify.yml
Due: validate-workflows

fix: Use CI_GITHUB_TOKEN for wiki operations
  .github/workflows/wiki-manage.yml
Due: validate-workflows

refactor: Migrate documentation to GitHub Wiki
  .cursor/rules/00-loader.mdc
  .cursor/rules/00-wiki.mdc
  .cursor/rules/05-pr-ownership.mdc
  .cursor/rules/10-background-agent-conport.mdc
  .cursor/rules/12-mcp-bridge-usage.mdc
  .cursor/rules/15-pr-review-verification.mdc
  .cursor/scripts/wiki-cli
  .cursorrules
  .github/copilot-instructions.md
  .ruler/AGENTS.md
  .ruler/README.md
  .ruler/agent-self-sufficiency.md
  .ruler/copilot.md
  .ruler/cursor.md
  .ruler/ecosystem.md
  .ruler/environment-setup.md
  .ruler/ruler.toml
  AGENTS.md
  CLAUDE.md
  docs/AGENT-TO-AGENT-HANDOFF.md
  docs/AGENTIC-DIFF-RECOVERY.md
  docs/AGENTIC-ORCHESTRATION.md
  docs/CURSOR-AGENT-MANAGEMENT.md
  docs/MCP-PROXY-BRIDGE-STRATEGY.md
  docs/MCP_PROXY_SETUP.md
  docs/MCP_SETUP.md
  docs/MULTI-AI-REVIEW.md
  docs/WIKI-ARCHITECTURE.md
  memory-bank/README.md
  memory-bank/activeContext.md
  memory-bank/agenticRules.md
  memory-bank/progress.md
  memory-bank/recovery/background-agent-recovery-2025-11-27.md
  memory-bank/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d-delegation.md
  memory-bank/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d-replay.md
Due: validate-agentic-docs

fix: Allow cursor bot in Claude PR review workflow
  .github/workflows/claude-pr-review.yml
Due: validate-workflows

refactor: Migrate documentation to GitHub Wiki (#193)
  .cursor/rules/00-loader.mdc
  .cursor/rules/00-wiki.mdc
  .cursor/rules/05-pr-ownership.mdc
  .cursor/rules/10-background-agent-conport.mdc
  .cursor/rules/12-mcp-bridge-usage.mdc
  .cursor/rules/15-pr-review-verification.mdc
  .cursor/scripts/wiki-cli
  .cursorrules
  .github/copilot-instructions.md
  .github/workflows/claude-pr-review.yml
  .github/workflows/wiki-manage.yml
  .ruler/AGENTS.md
  .ruler/README.md
  .ruler/agent-self-sufficiency.md
  .ruler/copilot.md
  .ruler/cursor.md
  .ruler/ecosystem.md
  .ruler/environment-setup.md
  .ruler/ruler.toml
  AGENTS.md
  CLAUDE.md
  docs/AGENT-TO-AGENT-HANDOFF.md
  docs/AGENTIC-DIFF-RECOVERY.md
  docs/AGENTIC-ORCHESTRATION.md
  docs/CURSOR-AGENT-MANAGEMENT.md
  docs/MCP-PROXY-BRIDGE-STRATEGY.md
  docs/MCP_PROXY_SETUP.md
  docs/MCP_SETUP.md
  docs/MULTI-AI-REVIEW.md
  docs/WIKI-ARCHITECTURE.md
  memory-bank/README.md
  memory-bank/activeContext.md
  memory-bank/agenticRules.md
  memory-bank/progress.md
  memory-bank/recovery/background-agent-recovery-2025-11-27.md
  memory-bank/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d-delegation.md
  memory-bank/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d-replay.md
Due: validate-agentic-docs, validate-workflows

feat: Add wiki/ folder with Andrew-Chen-Wang/github-wiki-action
  .github/workflows/publish-wiki.yml
  .github/workflows/wiki-manage.yml
  wiki/Agent-Instructions-Claude.md
  wiki/Agent-Instructions-Copilot.md
  wiki/Agent-Instructions-Cursor.md
  wiki/Agentic-Rules-Core-Guidelines.md
  wiki/Agentic-Rules-Ecosystem.md
  wiki/Agentic-Rules-Environment-Setup.md
  wiki/Agentic-Rules-PR-Ownership.md
  wiki/Agentic-Rules-Python-Standards.md
  wiki/Agentic-Rules-Self-Sufficiency.md
  wiki/Documentation-Agent-Handoff.md
  wiki/Documentation-Agentic-Orchestration.md
  wiki/Documentation-Architecture.md
  wiki/Documentation-Cursor-Management.md
  wiki/Documentation-Diff-Recovery.md
  wiki/Documentation-MCP-Proxy-Setup.md
  wiki/Documentation-MCP-Proxy-Strategy.md
  wiki/Documentation-MCP-Setup.md
  wiki/Documentation-Multi-AI-Review.md
  wiki/Documentation-Wiki-Architecture.md
  wiki/Home.md
  wiki/Memory-Bank-Active-Context.md
  wiki/Memory-Bank-Agentic-Rules.md
  wiki/Memory-Bank-Progress.md
  wiki/README.md
  wiki/Recovery-2025-11-27.md
  wiki/Recovery-Delegation.md
  wiki/Recovery-Replay.md
  wiki/_Footer.md
  wiki/_Sidebar.md
Due: validate-workflows

Checkpoint before follow-up message
  wiki/Agent-Instructions-Claude.md
  wiki/Agent-Instructions-Copilot.md
  wiki/Agent-Instructions-Cursor.md
  wiki/Agentic-Rules-Core-Guidelines.md
  wiki/Agentic-Rules-Ecosystem.md
  wiki/Agentic-Rules-Environment-Setup.md
  wiki/Agentic-Rules-PR-Ownership.md
  wiki/Agentic-Rules-Python-Standards.md
  wiki/Agentic-Rules-Self-Sufficiency.md
  wiki/Documentation-Agent-Handoff.md
  wiki/Documentation-Agentic-Orchestration.md
  wiki/Documentation-Architecture.md
  wiki/Documentation-Cursor-Management.md
  wiki/Documentation-Diff-Recovery.md
  wiki/Documentation-MCP-Proxy-Setup.md
  wiki/Documentation-MCP-Proxy-Strategy.md
  wiki/Documentation-MCP-Setup.md
  wiki/Documentation-Multi-AI-Review.md
  wiki/Documentation-Wiki-Architecture.md
  wiki/Home.md
  wiki/Memory-Bank-Active-Context.md
  wiki/Memory-Bank-Agentic-Rules.md
  wiki/Memory-Bank-Progress.md
  wiki/README.md
  wiki/Recovery-2025-11-27.md
  wiki/Recovery-Delegation.md
  wiki/Recovery-Replay.md
  wiki/_Footer.md
  wiki/_Sidebar.md
Due: none

Checkpoint before follow-up message
  wiki/agent-instructions/Claude.md
  wiki/agent-instructions/Copilot.md
  wiki/agent-instructions/Cursor.md
  wiki/agentic-rules/Core-Guidelines.md
  wiki/agentic-rules/Ecosystem.md
  wiki/agentic-rules/Environment-Setup.md
  wiki/agentic-rules/PR-Ownership.md
  wiki/agentic-rules/Python-Standards.md
  wiki/agentic-rules/Self-Sufficiency.md
  wiki/memory-bank/Active-Context.md
  wiki/memory-bank/Agentic-Rules.md
  wiki/memory-bank/Progress.md
Due: none

fix: Proper flat wiki structure per github-wiki-action docs
  wiki/Active-Context.md
  wiki/Agent-Handoff.md
  wiki/Agentic-Orchestration.md
  wiki/Agentic-Rules-Overview.md
  wiki/Architecture.md
  wiki/Claude.md
  wiki/Copilot.md
  wiki/Core-Guidelines.md
  wiki/Cursor-Management.md
  wiki/Cursor.md
  wiki/Diff-Recovery.md
  wiki/Ecosystem.md
  wiki/Environment-Setup.md
  wiki/MCP-Proxy-Setup.md
  wiki/MCP-Proxy-Strategy.md
  wiki/MCP-Setup.md
  wiki/Multi-AI-Review.md
  wiki/PR-Ownership.md
  wiki/Progress.md
  wiki/Python-Standards.md
  wiki/README.md
  wiki/Recovery-2025-11-27.md
  wiki/Recovery-Delegation.md
  wiki/Recovery-Replay.md
  wiki/Self-Sufficiency.md
  wiki/_Sidebar.md
  wiki/agentic-rules/PR-Ownership.md
  wiki/agentic-rules/Python-Standards.md
Due: none

feat: Add wiki/ folder with github-wiki-action (#194)
  .github/workflows/publish-wiki.yml
  .github/workflows/wiki-manage.yml
  wiki/Active-Context.md
  wiki/Agent-Handoff.md
  wiki/Agentic-Orchestration.md
  wiki/Agentic-Rules-Overview.md
  wiki/Architecture.md
  wiki/Claude.md
  wiki/Copilot.md
  wiki/Core-Guidelines.md
  wiki/Cursor-Management.md
  wiki/Cursor.md
  wiki/Diff-Recovery.md
  wiki/Ecosystem.md
  wiki/Environment-Setup.md
  wiki/MCP-Proxy-Setup.md
  wiki/MCP-Proxy-Strategy.md
  wiki/MCP-Setup.md
  wiki/Multi-AI-Review.md
  wiki/PR-Ownership.md
  wiki/Progress.md
  wiki/Python-Standards.md
  wiki/README.md
  wiki/Recovery-2025-11-27.md
  wiki/Recovery-Delegation.md
  wiki/Recovery-Replay.md
  wiki/Self-Sufficiency.md
  wiki/_Sidebar.md
Due: validate-workflows

perf: Optimize PR review with correct claude-code-action settings
  .github/workflows/claude-pr-review.yml
Due: validate-workflows

perf: Optimize PR review with correct claude-code-action settings (#195)
  .github/workflows/claude-pr-review.yml
Due: validate-workflows

fix: Add missing Claude command templates for repo sync
  templates/claude/commands/ecosystem-sync.md
  templates/claude/commands/fix-ci.md
  templates/claude/commands/label-issue.md
  templates/claude/commands/review-pr.md
  templates/claude/workflows/claude.yml
Due: validate-workflows

fix: Add missing Claude command templates for repo sync (#196)
  templates/claude/commands/ecosystem-sync.md
  templates/claude/commands/fix-ci.md
  templates/claude/commands/label-issue.md
  templates/claude/commands/review-pr.md
  templates/claude/workflows/claude.yml
Due: validate-workflows

fix: Use pipe delimiter in sed to handle repo paths with slashes
  .github/workflows/sync-claude-tooling.yml
Due: validate-workflows

fix: Use pipe delimiter in sed to handle repo paths with slashes (#197)
  .github/workflows/sync-claude-tooling.yml
Due: validate-workflows

fix: Use pipe delimiter in sed to handle repo paths with slashes (#197) Co-authored-by: Cursor Agent <cursoragent@cursor.com>
  .github/workflows/sync-claude-tooling.yml
Due: validate-workflows

fix: Detect new untracked files in Claude sync workflow
  .github/workflows/sync-claude-tooling.yml
Due: validate-workflows

fix: Detect new untracked files in Claude sync workflow (#198)
  .github/workflows/sync-claude-tooling.yml
Due: validate-workflows

fix: Remove invalid YAML workflows
  .github/workflows/agent-issue-triage.yml
  .github/workflows/agent-post-merge.yml
  .github/workflows/agent-project-management.yml
  .github/workflows/agentic-cycle.yml
Due: validate-workflows

fix: Remove invalid YAML workflows (#199)
  .github/workflows/agent-issue-triage.yml
  .github/workflows/agent-post-merge.yml
  .github/workflows/agent-project-management.yml
  .github/workflows/agentic-cycle.yml
Due: validate-workflows

cycle: 001 - Control Plane Activation
  .github/cycles/001-control-plane-activation.md
Due: none

docs: Add Active Cycle page and update wiki navigation
  wiki/Active-Cycle.md
  wiki/README.md
  wiki/_Sidebar.md
Due: none

Checkpoint before follow-up message
  .github/cycles/001-control-plane-activation.md
Due: none

🚀 Cycle 001: Control Plane Activation
  .github/cycles/001-control-plane-activation.md
  wiki/Active-Cycle.md
  wiki/README.md
  wiki/_Sidebar.md
Due: none

cycle: Update Phase 1 progress - terraform-modules PR created
  .github/cycles/001-control-plane-activation.md
Due: none
