Repository jbcom/control-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentic-docs, validate-workflows, validate-ecosystem-state

.pre-commit-config.yaml:

# Pre-commit hooks for the jbcom Python Library Management Hub
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Run the formatter
      - id: ruff-format

  # Mypy - Static type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: [--strict, --ignore-missing-imports]
        additional_dependencies: [types-all]
        files: ^(src/|tools/|\.github/scripts/).*\.py$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint
        args: [--fix, --disable, MD013, MD033, MD041]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]

  # GitHub Actions workflow linting - catches schema issues before push
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  # Custom validators for this management hub
  - repo: local
    hooks:
      # Validate agentic documentation
      - id: validate-agentic-docs
        name: Validate Agentic Documentation
        entry: python3 tools/validators/validate_agentic_docs.py
        language: system
        files: ^\.ruler/.*\.(md|toml)$
        pass_filenames: false

      # Validate GitHub workflows
      - id: validate-workflows
        name: Validate GitHub Workflows
        entry: python3 tools/validators/validate_workflows.py
        language: system
        files: ^(\.github/workflows/|templates/).*\.yml$
        pass_filenames: false

      # Validate ecosystem state
      - id: validate-ecosystem-state
        name: Validate Ecosystem State
        entry: python3 tools/validators/validate_ecosystem_state.py
        language: system
        files: ^ecosystem/ECOSYSTEM_STATE\.json$
        pass_filenames: false

chore: delete outdated legacy scripts and false documentation
  docs/COUNTERPARTY-COORDINATION.md
  docs/FSC-FLEET-COORDINATION.md
  docs/JBCOM-FLEET-INTEGRATION.md
  ecosystems/flipside-crypto/RUNBOOK.md
  ecosystems/flipside-crypto/memory-bank/progress.md
  ecosystems/flipside-crypto/scripts/fleet-manager.sh
  ecosystems/flipside-crypto/scripts/fleet_manager.py
  ecosystems/flipside-crypto/scripts/replay_agent_session.py
  scripts/replay_agent_session.py
Due: none

chore: delete outdated legacy scripts and false documentation (#305)
  agentic.config.json
  docs/COUNTERPARTY-COORDINATION.md
  docs/FSC-FLEET-COORDINATION.md
  docs/JBCOM-FLEET-INTEGRATION.md
  ecosystems/flipside-crypto/RUNBOOK.md
  ecosystems/flipside-crypto/memory-bank/agentic-control-setup.md
  ecosystems/flipside-crypto/memory-bank/progress.md
  ecosystems/flipside-crypto/scripts/fleet-manager.sh
  ecosystems/flipside-crypto/scripts/fleet_manager.py
  ecosystems/flipside-crypto/scripts/replay_agent_session.py
  scripts/replay_agent_session.py
Due: none

docs: update FSC activeContext with terraform-modules cleanup plan
  ecosystems/flipside-crypto/memory-bank/activeContext.md
Due: none

docs: FSC terraform-modules cleanup context
  ecosystems/flipside-crypto/memory-bank/activeContext.md
Due: none

docs: FSC terraform-modules cleanup context (#307)
  ecosystems/flipside-crypto/memory-bank/activeContext.md
Due: none

docs: add secrets infrastructure unification tracker
  ecosystems/flipside-crypto/memory-bank/secrets-unification-tracker.md
Due: none

Checkpoint before follow-up message
  .cursor/recovery/bc-e8225222-report.md
Due: none

Checkpoint before follow-up message
  agentic.config.json
  packages/agentic-control/src/core/config.ts
Due: none

Checkpoint before follow-up message
  .ruler/environment-setup.md
  agentic.config.json
  packages/agentic-control/README.md
  packages/agentic-control/src/core/config.ts
Due: validate-agentic-docs

fix(agentic-control): correct Anthropic model IDs and document model fetching
  .ruler/environment-setup.md
  agentic.config.json
  memory-bank/activeContext.md
  memory-bank/progress.md
  packages/agentic-control/README.md
  packages/agentic-control/src/core/config.ts
Due: validate-agentic-docs

fix: address Amazon Q review feedback on model IDs
  .cursor/recovery/bc-e8225222-report.md
  .ruler/environment-setup.md
Due: validate-agentic-docs

fix: address Gemini review feedback
  ecosystems/flipside-crypto/memory-bank/secrets-unification-tracker.md
Due: none

docs: formal agent handoff for vault-secret-sync and cluster-ops
  AGENT_HANDOFF.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

docs: update handoff - cluster-ops requires local agent
  AGENT_HANDOFF.md
  memory-bank/activeContext.md
Due: none

Checkpoint before follow-up message
  agentic.config.json
Due: none

Checkpoint before follow-up message
  packages/cursor-fleet/.gitignore
  packages/cursor-fleet/README.md
  packages/cursor-fleet/docs/FOLLOWUP_INVESTIGATION.md
  packages/cursor-fleet/docs/FSC-MIGRATION-PLAN.md
  packages/cursor-fleet/package-lock.json
  packages/cursor-fleet/package.json
  packages/cursor-fleet/src/ai-analyzer.ts
  packages/cursor-fleet/src/cli.ts
  packages/cursor-fleet/src/conversation-splitter.ts
  packages/cursor-fleet/src/cursor-api.ts
  packages/cursor-fleet/src/fleet.ts
  packages/cursor-fleet/src/handoff.ts
  packages/cursor-fleet/src/index.ts
  packages/cursor-fleet/src/mcp-client.ts
  packages/cursor-fleet/src/test-followup-delivery.ts
  packages/cursor-fleet/src/types.ts
  packages/cursor-fleet/tsconfig.json
Due: none

refactor: consolidate fleet tooling to agentic-control
  .codex/rules/ruler_codex_instructions.md
  .cursor/agents/FLEET_COORDINATION.md
  .cursor/agents/handoffs/documentation-overhaul-20251201.md
  .github/copilot-instructions.md
  .gitignore
  .roo/rules/ruler_roocode_instructions.md
  .ruler/AGENTS.md
  .ruler/copilot.md
  .ruler/fleet-coordination.md
  AGENTS.md
  AGENT_HANDOFF.md
  CLAUDE.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/MONOREPO-ARCHITECTURE.md
  memory-bank/activeContext.md
  package.json
  pnpm-lock.yaml
  process-compose.yml
Due: validate-agentic-docs

Update dependencies and add ruler package
  node_modules/.bin/ruler
  node_modules/.modules.yaml
  node_modules/.pnpm/@intellectronica+ruler@0.3.16/node_modules/@intellectronica/ruler/node_modules/.bin/js-yaml
  node_modules/.pnpm/lock.yaml
  node_modules/.pnpm/node_modules/ansi-regex
  node_modules/.pnpm/node_modules/ansi-styles
  node_modules/.pnpm/node_modules/debug
  node_modules/.pnpm/node_modules/emoji-regex
  node_modules/.pnpm/node_modules/express
  node_modules/.pnpm/node_modules/iconv-lite
  node_modules/.pnpm/node_modules/mime-db
  node_modules/.pnpm/node_modules/mime-types
  node_modules/.pnpm/node_modules/ms
  node_modules/.pnpm/node_modules/raw-body
  node_modules/.pnpm/node_modules/string-width
  node_modules/.pnpm/node_modules/wrap-ansi
  node_modules/.pnpm/node_modules/zod
  node_modules/@intellectronica/ruler
Due: none

docs: improve ASCII diagram clarity per review feedback
  ecosystems/flipside-crypto/memory-bank/secrets-unification-tracker.md
Due: none

Refactor: Agent recovery and takeover by bc-57959d6c
  .cursor/recovery/bc-f49e8766-0c4d-409a-b663-d72fb401bdcb/RECOVERY_SUMMARY.md
  memory-bank/activeContext.md
Due: none

Checkpoint before follow-up message
  ecosystems/jbcom/vault-secret-sync/README.md
Due: none

Checkpoint before follow-up message
  packages/vault-secret-sync/README.md
Due: none

fix(vss): address Cursor Bugbot review feedback
  packages/vault-secret-sync/api/v1alpha1/zz_generated.deepcopy.go
  packages/vault-secret-sync/cmd/vss/main.go
Due: none

fix(ci): add go mod tidy and increase lint timeout for vault-secret-sync
  .github/workflows/ci.yml
Due: validate-workflows

fix(ci): use golangci-lint-action v6 tag instead of invalid commit hash
  .github/workflows/ci.yml
Due: validate-workflows

feat(vss): add vault-secret-sync Go package to monorepo
  .github/sync/vault-secret-sync.yml
Due: none

fix(vss): address AI peer review feedback
  .github/workflows/ci.yml
  memory-bank/activeContext.md
  packages/vault-secret-sync/Dockerfile
  packages/vault-secret-sync/deploy/charts/vault-secret-sync/charts/vault-secret-sync-events/values.yaml
  packages/vault-secret-sync/deploy/charts/vault-secret-sync/charts/vault-secret-sync-operator/values.yaml
  packages/vault-secret-sync/deploy/charts/vault-secret-sync/values.yaml
Due: validate-workflows

fix(vss): address remaining AI peer review feedback
  .github/workflows/ci.yml
  packages/vault-secret-sync/deploy/charts/vault-secret-sync/charts/vault-secret-sync-events/values.yaml
  packages/vault-secret-sync/deploy/charts/vault-secret-sync/charts/vault-secret-sync-operator/values.yaml
Due: validate-workflows

fix(vss): comprehensive code quality fixes
  packages/vault-secret-sync/Dockerfile
  packages/vault-secret-sync/cmd/vss/main.go
  packages/vault-secret-sync/internal/config/config.go
  packages/vault-secret-sync/internal/notifications/email.go
  packages/vault-secret-sync/internal/notifications/slack.go
  packages/vault-secret-sync/internal/notifications/webhook.go
  packages/vault-secret-sync/internal/sync/done.go
  packages/vault-secret-sync/internal/sync/filters.go
  packages/vault-secret-sync/internal/sync/operator.go
  packages/vault-secret-sync/internal/sync/regex.go
  packages/vault-secret-sync/internal/sync/sync.go
  packages/vault-secret-sync/internal/sync/utils.go
Due: none

Checkpoint before follow-up message
  packages/vault-secret-sync/cmd/vss/main.go
Due: none
