Repository jbcom/control-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentic-docs, validate-workflows, validate-ecosystem-state

validate-agentic-docs:
  name: Validate Agentic Documentation
  entry: python3 tools/validators/validate_agentic_docs.py
  language: system
  pass_filenames: false

validate-workflows:
  name: Validate GitHub Workflows
  entry: python3 tools/validators/validate_workflows.py
  language: system
  pass_filenames: false

validate-ecosystem-state:
  name: Validate Ecosystem State
  entry: python3 tools/validators/validate_ecosystem_state.py
  language: system
  pass_filenames: false

Auto-commit pending changes before rebase - PR synchronize
  packages/vendor-connectors/src/vendor_connectors/connectors.py
Due: none

Update packages/vendor-connectors/tests/conftest.py
  packages/vendor-connectors/tests/conftest.py
Due: none

Update packages/vendor-connectors/src/vendor_connectors/connectors.py
  packages/vendor-connectors/src/vendor_connectors/connectors.py
Due: none

[WIP] Address feedback on vendor connectors library refactor (#143)
  packages/vendor-connectors/src/vendor_connectors/connectors.py
Due: none

Fix: CI workflow - Unicode chars, reusable workflow paths, JSON format
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot_updates.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-enforce-standards.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-sync.yml
  .pre-commit-config.yaml
Due: validate-workflows

Add actionlint to pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix: Remove erroneous Google code from get_github_client method
  packages/vendor-connectors/src/vendor_connectors/connectors.py
Due: none

Update packages/vendor-connectors/src/vendor_connectors/vault/__init__.py
  packages/vendor-connectors/src/vendor_connectors/vault/__init__.py
Due: none

Refactor: Rename cloud-connectors to vendor-connectors
  .ruler/ecosystem.md
  packages/vendor-connectors/README.md
  packages/vendor-connectors/src/vendor_connectors/connectors.py
  packages/vendor-connectors/tests/conftest.py
  packages/vendor-connectors/tests/test_aws_connector.py
  packages/vendor-connectors/tests/test_github_connector.py
  packages/vendor-connectors/tests/test_google_connector.py
  packages/vendor-connectors/tests/test_slack_connector.py
  packages/vendor-connectors/tests/test_vault_connector.py
  packages/vendor-connectors/tests/test_zoom_connector.py
Due: validate-agentic-docs

Fix: get_repository_file now returns tuple when return_sha=True
  packages/vendor-connectors/src/vendor_connectors/github/__init__.py
Due: none

Checkpoint before follow-up message
  packages/vendor-connectors/src/vendor_connectors/__init__.py
  packages/vendor-connectors/src/vendor_connectors/aws/__init__.py
  packages/vendor-connectors/src/vendor_connectors/github/__init__.py
  packages/vendor-connectors/src/vendor_connectors/google/__init__.py
  packages/vendor-connectors/src/vendor_connectors/slack/__init__.py
  packages/vendor-connectors/src/vendor_connectors/vault/__init__.py
  packages/vendor-connectors/src/vendor_connectors/zoom/__init__.py
Due: none

Add file decoding and self.errors for backward compatibility
  packages/vendor-connectors/src/vendor_connectors/github/__init__.py
  packages/vendor-connectors/src/vendor_connectors/zoom/__init__.py
Due: none

[WIP] Address feedback on vendor connectors library refactor (#141)
  packages/vendor-connectors/src/vendor_connectors/github/__init__.py
Due: none

Refactor Zoom connector: Extract hardcoded timeout to constant (#142)
  packages/vendor-connectors/src/vendor_connectors/zoom/__init__.py
Due: none

Eliminate code duplication by using ecosystem packages
  packages/extended-data-types/src/extended_data_types/__init__.py
  packages/extended-data-types/src/extended_data_types/type_utils.py
  packages/extended-data-types/tests/test_type_utils.py
  packages/vendor-connectors/src/vendor_connectors/connectors.py
  packages/vendor-connectors/src/vendor_connectors/github/__init__.py
Due: none

Update packages/vendor-connectors/src/vendor_connectors/slack/__init__.py
  packages/vendor-connectors/src/vendor_connectors/slack/__init__.py
Due: none

Checkpoint before follow-up message
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/vendor_connectors/__init__.py
  packages/vendor-connectors/src/vendor_connectors/aws/__init__.py
  packages/vendor-connectors/src/vendor_connectors/base/__init__.py
  packages/vendor-connectors/src/vendor_connectors/base/errors.py
  packages/vendor-connectors/src/vendor_connectors/base/logging.py
  packages/vendor-connectors/src/vendor_connectors/base/settings.py
  packages/vendor-connectors/src/vendor_connectors/base/utils.py
  packages/vendor-connectors/src/vendor_connectors/github/__init__.py
  packages/vendor-connectors/src/vendor_connectors/google/__init__.py
  packages/vendor-connectors/src/vendor_connectors/slack/__init__.py
  packages/vendor-connectors/src/vendor_connectors/vault/__init__.py
  packages/vendor-connectors/src/vendor_connectors/zoom/__init__.py
Due: none

Fix: Use correct exception type in zoom connector test
  packages/vendor-connectors/tests/test_zoom_connector.py
Due: none

Fix: Rename logging variable to avoid shadowing stdlib module
  packages/vendor-connectors/tests/conftest.py
Due: none

Checkpoint before follow-up message
  packages/vendor-connectors/src/vendor_connectors/base/__init__.py
  packages/vendor-connectors/src/vendor_connectors/base/errors.py
  packages/vendor-connectors/src/vendor_connectors/base/logging.py
  packages/vendor-connectors/src/vendor_connectors/base/settings.py
  packages/vendor-connectors/src/vendor_connectors/base/utils.py
Due: none

Fix: Replace Unicode multiplication signs with ASCII 'x' in CI workflow
  .github/workflows/ci.yml
Due: validate-workflows

Fix: CI failures - lint workflow, Python 3.9 compat, coverage threshold
  .github/workflows/reusable-lint.yml
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/vendor_connectors/slack/__init__.py
Due: validate-workflows

Fix: CI lint and test issues
  .github/workflows/reusable-test.yml
  packages/vendor-connectors/pyproject.toml
  pyproject.toml
Due: validate-workflows

Format files with ruff
  packages/extended-data-types/tests/test_base64_utils.py
  packages/extended-data-types/tests/test_state_utils.py
  packages/vendor-connectors/src/vendor_connectors/slack/__init__.py
Due: none

Add enforce job to CI and clean up reusable workflow messages
  .github/workflows/ci.yml
  .github/workflows/reusable-enforce-standards.yml
Due: validate-workflows

Add enforce job to CI and clean up reusable workflow messages (#153) Co-authored-by: Cursor Agent <cursoragent@cursor.com>
  .github/workflows/ci.yml
  .github/workflows/reusable-enforce-standards.yml
Due: validate-workflows

Add enforce job to CI and clean up reusable workflow messages (#153)
  .github/workflows/ci.yml
  .github/workflows/reusable-enforce-standards.yml
Due: validate-workflows

Fix CI/CD pipeline: robust error handling and proper versioning
  .github/workflows/ci.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-enforce-standards.yml
  .github/workflows/reusable-release.yml
Due: validate-workflows

Fix YAML syntax error in docs workflow - heredoc breaking parser
  .github/workflows/reusable-docs.yml
Due: validate-workflows

Unified CalVer: ONE version for ALL packages via pycalver
  .github/workflows/ci.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-sync.yml
  pyproject.toml
Due: validate-workflows

Fix CI/CD pipeline: comprehensive error handling and versioning (#154)
  .github/workflows/ci.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-enforce-standards.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-sync.yml
  pyproject.toml
Due: validate-workflows

Add long-running PR workflow pattern for background agents
  .ruler/cursor.md
Due: validate-agentic-docs

Add long-running PR workflow pattern for background agents (#155)
  .ruler/cursor.md
Due: validate-agentic-docs

Add CI stabilization session notes (holding PR)
  .cursor/agents/ci-stabilization-session.md
Due: none

Fix: pycalver needs setuptools, enforce workflow 404 handling
  .github/workflows/ci.yml
  .github/workflows/reusable-enforce-standards.yml
Due: validate-workflows

Fix: pycalver needs setuptools, enforce workflow 404 handling (#157)
  .github/workflows/ci.yml
  .github/workflows/reusable-enforce-standards.yml
Due: validate-workflows

Fix: Use uv properly throughout CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-test.yml
Due: validate-workflows

Path conditions:
  validate-agentic-docs: any of: ^\.ruler/.*\.(md|toml)$
  validate-workflows: any of: ^(\.github/workflows/|templates/).*\.yml$
  validate-ecosystem-state: any of: ^ecosystem/ECOSYSTEM_STATE\.json$
