Repository jbcom/control-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentic-docs, validate-workflows, validate-ecosystem-state

validate-agentic-docs:
  name: Validate Agentic Documentation
  entry: python3 tools/validators/validate_agentic_docs.py
  language: system
  pass_filenames: false

validate-workflows:
  name: Validate GitHub Workflows
  entry: python3 tools/validators/validate_workflows.py
  language: system
  pass_filenames: false

validate-ecosystem-state:
  name: Validate Ecosystem State
  entry: python3 tools/validators/validate_ecosystem_state.py
  language: system
  pass_filenames: false

Add PR review verification protocol
  .cursor/rules/15-pr-review-verification.mdc
Due: none

Checkpoint before follow-up message
  .ruler/AGENTS.md
Due: validate-agentic-docs

Update Go version and reinforce verification rules
  .cursor/Dockerfile
  .cursor/LESSON-TRAINING-DATA-OUTDATED.md
  .cursor/rules/15-pr-review-verification.mdc
Due: none

Add infrastructure and cloud tools to Dockerfile and docs
  .cursor/Dockerfile
  .cursor/TOOLS_REFERENCE.md
Due: none

feat: Integrate MCP proxy for background agent communication
  .cursor/Dockerfile
  .cursor/MCP-PROXY-BRIDGE-STRATEGY.md
  .cursor/rules/12-mcp-bridge-usage.mdc
  .cursor/scripts/mcp-bridge/README.md
  .cursor/scripts/mcp-bridge/aws-api
  .cursor/scripts/mcp-bridge/aws-iac
  .cursor/scripts/mcp-bridge/aws-serverless
  .cursor/scripts/mcp-bridge/setup.sh
  .ruler/ruler.toml
  process-compose.yml
Due: validate-agentic-docs

Checkpoint before follow-up message
  process-compose.yml
Due: none

Checkpoint before follow-up message
  .cursor/rules/12-mcp-bridge-usage.mdc
  .cursor/scripts/mcp-bridge/aws-cdk
  .cursor/scripts/mcp-bridge/aws-cfn
  .cursor/scripts/mcp-bridge/aws-docs
  .cursor/scripts/mcp-bridge/aws-iac
  .cursor/scripts/mcp-bridge/aws-pricing
  .cursor/scripts/mcp-bridge/aws-serverless
  .cursor/scripts/mcp-bridge/aws-support
  .cursor/scripts/mcp-bridge/billing-cost
  .cursor/scripts/mcp-bridge/github-mcp
  .cursor/scripts/mcp-bridge/setup.sh
  docs/MCP-PROXY-BRIDGE-STRATEGY.md
  process-compose.yml
Due: none

Checkpoint before follow-up message
  .cursor/scripts/assume-cursor-role.sh
Due: none

feat: Add multi-AI review workflow and rules
  .amazonq/rules/aws-security.md
  .amazonq/rules/jbcom-control-center.md
  .github/workflows/multi-ai-review.yml
  docs/MULTI-AI-REVIEW.md
Due: validate-workflows

feat: Multi-AI PR review workflow with auto-healing
  .github/workflows/multi-ai-review.yml
Due: validate-workflows

fix: Amazon Q review job - use gh CLI instead of github-script
  .github/workflows/multi-ai-review.yml
Due: validate-workflows

fix: Use CI_GITHUB_TOKEN instead of GITHUB_JBCOM_TOKEN in workflows
  .github/workflows/multi-ai-review.yml
Due: validate-workflows

feat: Add Cursor Background Agent MCP Server for agent management
  .cursor/Dockerfile
  .cursor/scripts/mcp-bridge/cursor-agents
  docs/CURSOR-AGENT-MANAGEMENT.md
  process-compose.yml
Due: none

fix: Wrap cursor-background-agent-mcp-server with mcp-proxy
  .cursor/rules/12-mcp-bridge-usage.mdc
  .cursor/scripts/mcp-bridge/cursor-agents
  process-compose.yml
Due: none

docs: Add comprehensive agent-to-agent handoff protocol
  docs/AGENT-TO-AGENT-HANDOFF.md
Due: none

docs: Create comprehensive agent-to-agent handoff document
  AGENT_HANDOFF.md
Due: none

Checkpoint before follow-up message
  docs/AGENTIC-DIFF-RECOVERY.md
Due: none

Checkpoint before follow-up message
  .cursor/scripts/agent-recover
Due: none

feat: Add sub-agent delegation for forensic recovery
  .cursor/scripts/agent-recover-delegate
  docs/AGENTIC-DIFF-RECOVERY.md
Due: none

feat: Add cursor_agents and aider MCP servers to ruler config
  .cursor/mcp.json
  .github/copilot-instructions.md
  .gitignore
  .ruler/ruler.toml
  AGENTS.md
Due: validate-agentic-docs

feat: Agent Swarm Orchestrator - Multi-agent forensic recovery
  .cursor/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d/ORCHESTRATION_SUMMARY.md
  .cursor/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d/branches.txt
  .cursor/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d/conversation.json
  .cursor/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d/files.txt
  .cursor/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d/prs.txt
  .cursor/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d/repos.txt
  .cursor/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d/tasks/BRANCH_fix_vendor-connectors-pypi-name_task.md
  .cursor/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d/tasks/SYNTHESIS_task.md
  .cursor/scripts/agent-swarm-orchestrator
Due: none

Generate branch recovery report for fix/vendor-connectors-pypi-name
  .cursor/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d/reports/BRANCH_fix_vendor-connectors-pypi-name_recovery.md
Due: none

docs: Station-to-station handoff for next agent
  NEXT_AGENT_HANDOFF.md
Due: none

Align agent configurations, fix environment setup, and resolve multi-AI workflow across Copilot/Cursor (#174)
  .cursor/DOCKERFILE_ANALYSIS.md
  .cursor/Dockerfile
  .cursor/MCP_CONFIGURATION_GUIDE.md
  .cursor/agents/cursor-environment-triage.md
  .cursor/agents/dependency-coordinator.md
  .cursor/agents/game-dev.md
  .cursor/agents/release-coordinator.md
  .cursor/agents/vendor-connectors-consolidator.md
  .github/AGENT_QUICK_REFERENCE.md
  .github/copilot/AGENTS_GUIDE.md
  .github/workflows/multi-ai-review.yml
  AGENT_FIXES_SUMMARY.md
  scripts/validate-agents.sh
Due: validate-workflows

Respect agent-managed workspace setup
  .codex/rules/ruler_codex_instructions.md
  .cursor/Dockerfile
  .cursor/memory-bank/activeContext.md
  .cursor/memory-bank/progress.md
  .gitignore
  .ruler/ruler.toml
  logs/.gitkeep
  memory-bank/README.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/recovery/background-agent-recovery-2025-11-27.md
Due: validate-agentic-docs

Automate memory bank replay
  .cursor/memory-bank/README.md
  .cursor/memory-bank/activeContext.md
  .cursor/memory-bank/progress.md
  memory-bank/README.md
  memory-bank/activeContext.md
  memory-bank/agenticRules.md
  memory-bank/progress.md
  memory-bank/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d-delegation.md
  memory-bank/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d-replay.md
  scripts/replay_agent_session.py
Due: none

Fix: enable RooCode agent, improve bootstrap script robustness, eliminate .cursor/memory-bank subdirectory
  .cursor/Dockerfile
  .cursor/memory-bank/README.md
  .cursor/memory-bank/activeContext.md
  .cursor/memory-bank/agenticRules.md
  .cursor/memory-bank/progress.md
  .gitignore
  .roo/rules/ruler_roocode_instructions.md
  .ruler/ruler.toml
  memory-bank/README.md
  scripts/replay_agent_session.py
Due: validate-agentic-docs

Remove symlink logic entirely - all agents use global memory-bank/ directly
  .cursor/Dockerfile
Due: none

Fix Cursor Bugbot issues: handle missing files and redact agent IDs
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/recovery/background-agent-recovery-2025-11-27.md
  scripts/replay_agent_session.py
Due: none

Respect agent-managed runtime directory creation (#175)
  .codex/rules/ruler_codex_instructions.md
  .cursor/Dockerfile
  .cursor/memory-bank/README.md
  .cursor/memory-bank/activeContext.md
  .cursor/memory-bank/progress.md
  .gitignore
  .roo/rules/ruler_roocode_instructions.md
  .ruler/ruler.toml
  logs/.gitkeep
  memory-bank/README.md
  memory-bank/activeContext.md
  memory-bank/agenticRules.md
  memory-bank/progress.md
  memory-bank/recovery/background-agent-recovery-2025-11-27.md
  memory-bank/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d-delegation.md
  memory-bank/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d-replay.md
  scripts/replay_agent_session.py
Due: validate-agentic-docs

Update .cursor/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d/reports/BRANCH_fix_vendor-connectors-pypi-name_recovery.md
  .cursor/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d/reports/BRANCH_fix_vendor-connectors-pypi-name_recovery.md
Due: none

Investigate vendor connectors pypi name branch (#170)
  .cursor/recovery/bc-c1254c3f-ea3a-43a9-a958-13e921226f5d/reports/BRANCH_fix_vendor-connectors-pypi-name_recovery.md
Due: none

Delete .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: validate-workflows

Path conditions:
  validate-agentic-docs: any of: ^\.ruler/.*\.(md|toml)$
  validate-workflows: any of: ^(\.github/workflows/|templates/).*\.yml$
  validate-ecosystem-state: any of: ^ecosystem/ECOSYSTEM_STATE\.json$
