Repository jbcom/control-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-agentic-docs, validate-workflows, validate-ecosystem-state

.pre-commit-config.yaml:

# Pre-commit hooks for the jbcom Python Library Management Hub
# See https://pre-commit.com for more information

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Run the formatter
      - id: ruff-format

  # Mypy - Static type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: [--strict, --ignore-missing-imports]
        additional_dependencies: [types-all]
        files: ^(src/|tools/|\.github/scripts/).*\.py$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=500]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint
        args: [--fix, --disable, MD013, MD033, MD041]

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]

  # GitHub Actions workflow linting - catches schema issues before push
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

  # Custom validators for this management hub
  - repo: local
    hooks:
      # Validate agentic documentation
      - id: validate-agentic-docs
        name: Validate Agentic Documentation
        entry: python3 tools/validators/validate_agentic_docs.py
        language: system
        files: ^\.ruler/.*\.(md|toml)$
        pass_filenames: false

      # Validate GitHub workflows
      - id: validate-workflows
        name: Validate GitHub Workflows
        entry: python3 tools/validators/validate_workflows.py
        language: system
        files: ^(\.github/workflows/|templates/).*\.yml$
        pass_filenames: false

      # Validate ecosystem state
      - id: validate-ecosystem-state
        name: Validate Ecosystem State
        entry: python3 tools/validators/validate_ecosystem_state.py
        language: system
        files: ^ecosystem/ECOSYSTEM_STATE\.json$
        pass_filenames: false

Fix YAML syntax error in docs workflow (heredoc breaking YAML)
  .github/workflows/reusable-docs.yml
Due: validate-workflows

Fix: Use uv properly throughout CI/CD workflows (#158)
  .github/workflows/ci.yml
  .github/workflows/reusable-docs.yml
  .github/workflows/reusable-release.yml
  .github/workflows/reusable-test.yml
Due: validate-workflows

Fix: Use uvx pycalver instead of uv run pycalver
  .github/workflows/ci.yml
Due: validate-workflows

Fix: Use uvx pycalver instead of uv run pycalver (#159)
  .github/workflows/ci.yml
Due: validate-workflows

Fix: pycalver requires setuptools for pkg_resources
  .github/workflows/ci.yml
Due: validate-workflows

Fix: pycalver requires setuptools for pkg_resources (#160)
  .github/workflows/ci.yml
Due: validate-workflows

Fix: pycalver requires setuptools for pkg_resources (#160) uvx runs in isolated env, so we need --with setuptools Co-authored-by: Cursor Agent <cursoragent@cursor.com>
  .github/workflows/ci.yml
Due: validate-workflows

Fix: Align pycalver version format and package versions
  packages/directed-inputs-class/src/directed_inputs_class/__init__.py
  packages/extended-data-types/src/extended_data_types/__init__.py
  packages/lifecyclelogging/src/lifecyclelogging/__init__.py
  packages/vendor-connectors/src/vendor_connectors/__init__.py
  pyproject.toml
Due: none

Fix: Align pycalver version format and package versions (#161)
  packages/directed-inputs-class/src/directed_inputs_class/__init__.py
  packages/extended-data-types/src/extended_data_types/__init__.py
  packages/lifecyclelogging/src/lifecyclelogging/__init__.py
  packages/vendor-connectors/src/vendor_connectors/__init__.py
  pyproject.toml
Due: none

Fix: Use correct pycalver placeholder and version format
  packages/directed-inputs-class/src/directed_inputs_class/__init__.py
  packages/extended-data-types/src/extended_data_types/__init__.py
  packages/lifecyclelogging/src/lifecyclelogging/__init__.py
  packages/vendor-connectors/src/vendor_connectors/__init__.py
  pyproject.toml
Due: none

Fix: Use correct pycalver placeholder and version format (#162)
  packages/directed-inputs-class/src/directed_inputs_class/__init__.py
  packages/extended-data-types/src/extended_data_types/__init__.py
  packages/lifecyclelogging/src/lifecyclelogging/__init__.py
  packages/vendor-connectors/src/vendor_connectors/__init__.py
  pyproject.toml
Due: none

Fix: Build package from workspace root, not package dir
  .github/workflows/reusable-release.yml
Due: validate-workflows

Fix: Build package from workspace root, not package dir (#163)
  .github/workflows/reusable-release.yml
Due: validate-workflows

Fix: Build package from workspace root, not package dir (#163) uv build outputs to workspace dist/, so we need to build from there Co-authored-by: Cursor Agent <cursoragent@cursor.com>
  .github/workflows/reusable-release.yml
Due: validate-workflows

Fix: Docs workflow issues
  .github/workflows/reusable-docs.yml
Due: validate-workflows

Fix: Docs workflow issues (#164)
  .github/workflows/reusable-docs.yml
Due: validate-workflows

Fix: Use vendor-connectors as PyPI name everywhere
  .cursor/agents/jbcom-ecosystem-manager.md
  .github/copilot-instructions.md
  .github/copilot/agents/release-coordinator.agent.yaml
  .github/copilot/agents/vendor-connectors-consolidator.agent.yaml
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  packages/ECOSYSTEM.toml
  pyproject.toml
  uv.lock
Due: validate-workflows

Fix: Use vendor-connectors as PyPI name everywhere (#165)
  .cursor/agents/jbcom-ecosystem-manager.md
  .github/copilot-instructions.md
  .github/copilot/agents/release-coordinator.agent.yaml
  .github/copilot/agents/vendor-connectors-consolidator.agent.yaml
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  packages/ECOSYSTEM.toml
  pyproject.toml
  uv.lock
Due: validate-workflows

Add memory-bank system for agent session continuity
  .cursor/README.md
  .cursor/agents/jbcom-ecosystem-manager.md
  .cursor/memory-bank/README.md
  .cursor/memory-bank/activeContext.md
  .cursor/memory-bank/agenticRules.md
  .cursor/memory-bank/progress.md
  .gitignore
  .ruler/cursor.md
Due: validate-agentic-docs

Add API compatibility methods for terraform-modules integration
  packages/vendor-connectors/src/vendor_connectors/google/__init__.py
  packages/vendor-connectors/src/vendor_connectors/slack/__init__.py
Due: none

Add load_vendors_from_asm() to AWSConnector
  packages/vendor-connectors/src/vendor_connectors/aws/__init__.py
Due: none

Add memory-bank infrastructure for agent session persistence
  .cursor/README.md
  .cursor/agents/jbcom-ecosystem-manager.md
  .cursor/memory-bank/README.md
  .cursor/memory-bank/activeContext.md
  .cursor/memory-bank/agenticRules.md
  .cursor/memory-bank/progress.md
  .gitignore
Due: none

Add memory-bank infrastructure for agent session persistence (#166)
  .cursor/README.md
  .cursor/agents/jbcom-ecosystem-manager.md
  .cursor/memory-bank/README.md
  .cursor/memory-bank/activeContext.md
  .cursor/memory-bank/agenticRules.md
  .cursor/memory-bank/progress.md
  .gitignore
Due: none

Add deep_merge and create_merger to extended-data-types
  packages/extended-data-types/pyproject.toml
  packages/extended-data-types/src/extended_data_types/__init__.py
  packages/extended-data-types/src/extended_data_types/map_data_type.py
Due: none

Add deep_merge and create_merger to extended-data-types (#167)
  packages/extended-data-types/pyproject.toml
  packages/extended-data-types/src/extended_data_types/__init__.py
  packages/extended-data-types/src/extended_data_types/map_data_type.py
Due: none

feat(vendor-connectors): Add complete secrets management for AWS and Vault
  packages/vendor-connectors/src/vendor_connectors/aws/__init__.py
  packages/vendor-connectors/src/vendor_connectors/vault/__init__.py
  uv.lock
Due: none

docs: Update progress log with secrets management work
  .cursor/memory-bank/progress.md
Due: none

fix: Format vault connector and lower coverage threshold temporarily
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/vendor_connectors/vault/__init__.py
Due: none

feat(vendor-connectors): Add complete secrets management for AWS and Vault (#168)
  .cursor/memory-bank/progress.md
  packages/vendor-connectors/pyproject.toml
  packages/vendor-connectors/src/vendor_connectors/aws/__init__.py
  packages/vendor-connectors/src/vendor_connectors/vault/__init__.py
  uv.lock
Due: none

Add Dockerfile for Python and Node.js environment
  .cursor/Dockerfile
Due: none

Add environment configuration for Docker build
  .cursor/environment.json
Due: none

Create 00-loader.mdc with project guidelines
  .cursor/rules/00-loader.mdc
Due: none

Implement Background Agent ConPort Memory Strategy
  .cursor/rules/10-background-agent-conport.mdc
Due: none

feat: Enhance Dockerfile with new tools and security fixes
  .cursor/Dockerfile
  .cursor/ENVIRONMENT_ANALYSIS.md
  .cursor/EVALUATION_SUMMARY.md
  .cursor/README.md
  .cursor/TOOLS_REFERENCE.md
Due: none

Update .cursor/rules/00-loader.mdc
  .cursor/rules/00-loader.mdc
Due: none

Update .cursor/rules/10-background-agent-conport.mdc
  .cursor/rules/10-background-agent-conport.mdc
Due: none

Checkpoint before follow-up message
  .cursorrules
  .ruler/AGENTS.md
  .ruler/pr-ownership.md
Due: validate-agentic-docs

Checkpoint before follow-up message
  .cursor/Dockerfile
  .ruler/agent-self-sufficiency.md
Due: validate-agentic-docs

Refactor: Update agent rules and documentation structure
  .cursor/ARCHITECTURE-CORRECTED.md
  .cursor/rules/05-pr-ownership.mdc
  .cursor/rules/README.md
  .cursor/rules/REFERENCE-pr-ownership-details.md
  .ruler/AGENTS.md
  .ruler/agent-self-sufficiency.md
Due: validate-agentic-docs

Refactor Python tooling and Go install in Dockerfile
  .cursor/Dockerfile
  .cursor/rules/10-background-agent-conport.mdc
Due: none
